##### PART - I #####

In [2]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import wordnet as wn
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
import spacy
import collections
import numpy as np
from spacy.en import English
import string
import unicodedata
import gensim
import re
from collections import Counter
from itertools import chain

import spacy
nlp = spacy.load('en')

parser = English()



sqd_data = pd.read_json("/data/train-v1.1.json")

In [3]:
sqd_data.head()

                                                data  version
0  {'paragraphs': [{'context': 'Architecturally, ...      1.1
1  {'paragraphs': [{'context': 'Beyoncé Giselle K...      1.1
2  {'paragraphs': [{'context': 'Montana i/mɒnˈtæn...      1.1
3  {'paragraphs': [{'context': 'The phrase "in wh...      1.1
4  {'paragraphs': [{'context': 'The emergence of ...      1.1

In [4]:
word2vec_model = gensim.models.KeyedVectors.load_word2vec_format('/home/aleena/Downloads/GoogleNews-vectors-negative300.3.bin', binary=True)

##### Prepare Stopwords list, question type mapping list, punctuation mark list #####

In [5]:
stopword = stopwords.words('english')
qtntype_list = ['How', 'What', 'When', 'Why', 'Which', 'Who','Whom', 'Where']
pun_list = list(string.punctuation)
delelements_list = stopword + qtntype_list + pun_list

In [6]:
qtntype_list

['How', 'What', 'When', 'Why', 'Which', 'Who', 'Whom', 'Where']

In [7]:
row_list = ['How many','How much','What','When','Where','Who', 'Which','Whom','PERSON',
          'NORP', 'FAC','LOC','PRODUCT', 'EVENT','WORK_OF_ART','LANGUAGE' ,'DATE' ,
          'TIME' ,'PERCENT' ,'MONEY' ,'ORDINAL','CARDINAL','GPE', 'ORG']


column_list = ['PERSON','NORP', 'FAC','LOC','PRODUCT', 'EVENT','WORK_OF_ART','LANGUAGE' ,'DATE' ,
               'TIME' ,'PERCENT' ,'MONEY' ,'ORDINAL','CARDINAL','GPE','ORG']

In [8]:
co_occ_matrix = np.zeros((len(row_list), len(column_list)), dtype = int)
co_occ_matrix

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [387]:
len(sqd_data)

442

In [393]:
# for i in range(len(trial)):
#     print(i)
#     paragraph_pointer = trial.data[i]['paragraphs'] 
#     #print(i, " ", len(paragraph_pointer))
#     for j in range(len(paragraph_pointer)):#no of paragraphs in a row of the df
#         processed_sen_list, process_sen_tokenized_list = preprocess_text(paragraph_pointer[j]['context']) 
#         processed_que_list = preprocess_question(paragraph_pointer[j]['qas'])
        
#         #print(processed_que_list)
#         #print(processed_sen_list)
#         #print("############################################3")
#         #print(processed_sen_list[0])
       
#         question_mapping= []
#         delquestionpart_list = []
#         stopwords_removed_qn = []

#         for i in range(len(processed_que_list)):
#             l2 = nltk.word_tokenize(processed_que_list[i])
#             for j in range(len(l2)):
#                 if l2[j] in qtntype_list:
#                     combine_list = l2[j]+" "+l2[j+1]
#                     remove_list = combine_list.split()
#                     l3 = [x for x in l2 if x not in remove_list]
#                     l4 = [x for x in l2 if x not in stopword]
#                     question_mapping.append(combine_list)
#                     delquestionpart_list.append(l3)
#                     stopwords_removed_qn.append(l4)
#         que_type_extract = question_type_extractor(question_mapping)
#         #print(que_type_extract)
#         que_sen, ans_sen = wmd_que_ans_pair(processed_que_list, processed_sen_list)
#         #print(wmd_dat)
# #         print(que_sen)
# #         print()
# #         print(ans_sen)
#         que_sen_map, ans_sen_map = que_ner_ans_ner(que_sen, ans_sen)
#         que_no_quetag_df, que_no_anstag_df = que_df_ans_df(que_sen_map, ans_sen_map)
        
#         for i in range(len(que_type_extract)):

#             question_words = que_no_quetag_df[que_no_quetag_df['QuestionNo']== i]['QuestionTag'].tolist() + [que_type_extract[i]]
#             ans_words = que_no_anstag_df[que_no_anstag_df['QuestionNo']==i]['AnswerTag'].tolist()
#             combo = que_ans_combo_(question_words, ans_words)
            
#             for i, v1 in enumerate(row_list):
#                 for j, v2 in enumerate(column_list):
#                     for k in combo:
#                         if [v1, v2] == k:
#                             co_occ_matrix[i, j]+=1

## Real execution for 442 paragraphs

In [19]:
for i in range(len(sqd_data)):
    print(i)
    paragraph_pointer = sqd_data.data[i]['paragraphs'] 

    #print(i, " ", len(paragraph_pointer))
    for j in range(len(paragraph_pointer)):#no of paragraphs in a row of the df
        processed_sen_list, process_sen_tokenized_list = preprocess_text(paragraph_pointer[j]['context']) 
        processed_que_list = preprocess_question(paragraph_pointer[j]['qas'])
        question_mapping = question_type(processed_que_list)
        que_type_extract = question_type_extractor(question_mapping)
        #print(que_type_extract)
        que_sen, ans_sen = wmd_que_ans_pair(processed_que_list, processed_sen_list)
        #print(wmd_dat)
#         print(que_sen)
#         print()
#         print(ans_sen)
        que_sen_map, ans_sen_map = que_ner_ans_ner(que_sen, ans_sen)
        que_no_quetag_df, que_no_anstag_df = que_df_ans_df(que_sen_map, ans_sen_map)
        
        for i in range(len(que_type_extract)):

            question_words = que_no_quetag_df[que_no_quetag_df['QuestionNo']== i]['QuestionTag'].tolist() + [que_type_extract[i]]
            ans_words = que_no_anstag_df[que_no_anstag_df['QuestionNo']==i]['AnswerTag'].tolist()
            combo = que_ans_combo_(question_words, ans_words)
            
            for i, v1 in enumerate(row_list):
                for j, v2 in enumerate(column_list):
                    for k in combo:
                        if [v1, v2] == k:
                            co_occ_matrix[i, j]+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441

In [20]:
co_occ_matrix_df = pd.DataFrame(co_occ_matrix, index = row_list, columns= column_list)
co_occ_matrix_df

,PERSON,NORP,FAC,LOC,PRODUCT,EVENT,WORK_OF_ART,LANGUAGE,DATE,TIME,PERCENT,MONEY,ORDINAL,CARDINAL,GPE,ORG
How many,1586,1508,164,419,30,152,171,52,2734,114,336,232,489,5380,3520,3523
How much,322,271,20,83,14,26,18,19,729,24,337,352,80,531,655,693
What,20854,15945,1470,4521,464,1302,2092,825,19379,654,2130,859,3998,12807,29159,33116
When,3208,2246,187,583,60,252,299,98,4726,98,53,95,788,1676,4289,4536
Where,2065,1272,304,583,36,115,151,45,1443,33,38,35,398,974,3577,3096
Who,7619,3104,212,626,82,265,473,90,3782,81,79,92,925,1789,4884,6449
Which,3939,2295,337,830,86,210,360,111,2787,80,150,125,685,1747,4908,5022
Whom,295,133,10,24,1,12,15,5,153,0,4,3,40,60,217,263
PERSON,19567,4274,495,1135,156,394,1078,234,7373,213,200,236,1405,3766,8406,9714
NORP,4662,12453,218,1337,115,336,422,405,4295,93,708,133,849,2842,8372,5960
FAC,438,195,528,149,3,30,40,3,316,13,19,32,93,265,562,571
LOC,994,1083,125,1552,28,91,93,38,1044,32,47,37,222,757,2315,1695
PRODUCT,178,74,8,23,54,12,22,7,154,4,12,10,27,104,170,266
EVENT,323,355,24,112,10,338,37,8,449,5,10,10,102,255,631,550
WORK_OF_ART,747,199,29,76,10,42,433,18,484,10,18,14,91,259,462,683
LANGUAGE,225,446,15,58,7,3,43,265,161,15,21,2,47,88,310,257
DATE,6327,3784,402,1040,128,578,669,158,13684,292,1251,733,1433,5923,8468,9541
TIME,78,34,4,8,2,0,9,5,121,138,11,6,16,117,67,120
PERCENT,31,49,4,5,1,2,1,4,95,0,216,14,6,86,77,103
MONEY,47,17,6,3,1,1,7,0,91,5,12,89,11,47,63,86
ORDINAL,1924,1080,168,350,34,134,219,57,2172,43,56,50,1970,1132,2174,2461
CARDINAL,1976,1286,176,368,55,141,231,52,2110,106,194,140,495,3960,2736,3181
GPE,9432,8930,905,3002,203,796,689,314,10874,292,1182,635,2238,7692,30473,15230
ORG,10755,5409,873,1784,281,663,1118,259,11320,298,573,641,2183,6796,13280,30066

In [21]:
co_occ_matrix_df['Tags'] = co_occ_matrix_df.index

In [22]:
#heatmap
melt_co_occ_matrix_df = pd.melt(co_occ_matrix_df,id_vars = ['Tags'])
melt_co_occ_matrix_df.head()


import plotly.plotly as py
import plotly.graph_objs as go

trace = go.Heatmap(z=melt_co_occ_matrix_df['value'],
                  x=melt_co_occ_matrix_df['Tags'] ,
                  y=melt_co_occ_matrix_df['variable'])
data=[trace]
py.iplot(data)

## Normalizing to bring out the pattern

In [23]:
from sklearn.preprocessing import normalize

In [24]:
normed_matrix = normalize(co_occ_matrix, axis=1, norm='l1')    #### dividing by sum of row...
normed_matrix

/data/Environment/finite_env/lib/python3.5/site-packages/sklearn/utils/validation.py:429: DataConversionWarning:

Data with input dtype int64 was converted to float64 by the normalize function.

array([[ 0.07770701,  0.07388535,  0.00803528,  0.02052915,  0.00146987,
         0.00744733,  0.00837825,  0.00254777,  0.13395394,  0.0055855 ,
         0.01646252,  0.01136698,  0.02395884,  0.26359628,  0.17246448,
         0.17261146],
       [ 0.07714423,  0.06492573,  0.00479157,  0.019885  ,  0.0033541 ,
         0.00622904,  0.00431241,  0.00455199,  0.17465261,  0.00574988,
         0.0807379 ,  0.08433158,  0.01916627,  0.1272161 ,  0.15692381,
         0.16602779],
       [ 0.13942169,  0.10660204,  0.00982785,  0.03022564,  0.00310212,
         0.00870466,  0.01398629,  0.00551563,  0.12956042,  0.00437239,
         0.01424035,  0.00574294,  0.02672907,  0.0856226 ,  0.19494568,
         0.22140064],
       [ 0.13831163,  0.09683539,  0.00806243,  0.02513581,  0.00258688,
         0.01086488,  0.01289126,  0.00422523,  0.20375959,  0.00422523,
         0.00228507,  0.00409589,  0.0339743 ,  0.07226007,  0.18491851,
         0.19556782],
       [ 0.14578186,  0.0897988 ,  0.02146135,  0.04115778,  0.00254148,
         0.0081186 ,  0.01066008,  0.00317684,  0.10187081,  0.00232969,
         0.00268267,  0.00247088,  0.02809742,  0.06876103,  0.25252383,
         0.21856689],
       [ 0.24937811,  0.10159728,  0.00693899,  0.02048966,  0.00268395,
         0.00867374,  0.0154818 ,  0.0029458 ,  0.12378895,  0.00265122,
         0.00258576,  0.00301126,  0.03027625,  0.0585559 ,  0.1598586 ,
         0.21108274],
       [ 0.16639912,  0.09694998,  0.01423623,  0.03506252,  0.00363298,
         0.00887124,  0.01520784,  0.00468908,  0.11773403,  0.00337952,
         0.0063366 ,  0.0052805 ,  0.02893714,  0.07380027,  0.20733356,
         0.21214937],
       [ 0.2388664 ,  0.10769231,  0.00809717,  0.0194332 ,  0.00080972,
         0.0097166 ,  0.01214575,  0.00404858,  0.12388664,  0.        ,
         0.00323887,  0.00242915,  0.03238866,  0.048583  ,  0.1757085 ,
         0.21295547],
       [ 0.33364594,  0.07287795,  0.00844047,  0.01935341,  0.00266003,
         0.00671828,  0.01838148,  0.00399004,  0.12572042,  0.00363196,
         0.00341029,  0.00402414,  0.0239573 ,  0.0642158 ,  0.14333458,
         0.1656379 ],
       [ 0.10791667,  0.28826389,  0.0050463 ,  0.03094907,  0.00266204,
         0.00777778,  0.00976852,  0.009375  ,  0.0994213 ,  0.00215278,
         0.01638889,  0.0030787 ,  0.01965278,  0.06578704,  0.1937963 ,
         0.13796296],
       [ 0.13447958,  0.05987105,  0.16211237,  0.04574762,  0.00092109,
         0.00921093,  0.01228124,  0.00092109,  0.0970218 ,  0.0039914 ,
         0.00583359,  0.00982499,  0.02855388,  0.08136322,  0.17255143,
         0.17531471],
       [ 0.0979021 ,  0.10666798,  0.01231163,  0.15286122,  0.00275781,
         0.00896287,  0.00915985,  0.00374274,  0.10282675,  0.00315178,
         0.00462917,  0.00364424,  0.02186546,  0.07455924,  0.22801143,
         0.16694573],
       [ 0.15822222,  0.06577778,  0.00711111,  0.02044444,  0.048     ,
         0.01066667,  0.01955556,  0.00622222,  0.13688889,  0.00355556,
         0.01066667,  0.00888889,  0.024     ,  0.09244444,  0.15111111,
         0.23644444],
       [ 0.10034172,  0.1102827 ,  0.00745573,  0.03479341,  0.00310655,
         0.10500155,  0.01149425,  0.00248524,  0.13948431,  0.00155328,
         0.00310655,  0.00310655,  0.03168686,  0.07921715,  0.19602361,
         0.17086052],
       [ 0.20895105,  0.05566434,  0.00811189,  0.02125874,  0.0027972 ,
         0.01174825,  0.12111888,  0.00503497,  0.13538462,  0.0027972 ,
         0.00503497,  0.00391608,  0.02545455,  0.07244755,  0.12923077,
         0.19104895],
       [ 0.11462048,  0.22720326,  0.00764137,  0.02954661,  0.00356597,
         0.00152827,  0.02190525,  0.13499745,  0.08201732,  0.00764137,
         0.01069791,  0.00101885,  0.02394294,  0.04482934,  0.15792155,
         0.13092206],
       [ 0.11628163,  0.06954476,  0.00738821,  0.01911378,  0.00235247,
         0.01062285,  0.01229531,  0.00290382,  0.25149326,  0.00536656,
         0.02299167,  0.01347154,  0.02633659,  0.10885667,  0.1556303 ,
         0.17535057],
       [ 0.10597826,  0.04619565,  0.00543478,  0.01086957,  0.00271739,
         0.        ,  0.01222826,  0.00679348,  0.16440217,  0.1875    ,
         0.01494565,  0.00815217,  0.02173913,  0.15896739,  0.09103261,
         0.16304348],
       [ 0.04466859,  0.07060519,  0.00576369,  0.00720461,  0.00144092,
         0.00288184,  0.00144092,  0.00576369,  0.13688761,  0.        ,
         0.31123919,  0.02017291,  0.00864553,  0.12391931,  0.11095101,
         0.14841499],
       [ 0.09670782,  0.03497942,  0.01234568,  0.00617284,  0.00205761,
         0.00205761,  0.01440329,  0.        ,  0.1872428 ,  0.01028807,
         0.02469136,  0.18312757,  0.02263374,  0.09670782,  0.12962963,
         0.17695473],
       [ 0.13719338,  0.07701084,  0.01197946,  0.02495722,  0.00242442,
         0.00955505,  0.01561609,  0.00406446,  0.15487735,  0.00306617,
         0.00399315,  0.00356532,  0.14047347,  0.08071877,  0.15501997,
         0.17548488],
       [ 0.11483698,  0.07473703,  0.0102284 ,  0.02138664,  0.00319637,
         0.00819434,  0.01342477,  0.00302203,  0.12262451,  0.00616028,
         0.01127448,  0.00813622,  0.02876736,  0.2301389 ,  0.15900506,
         0.18486662],
       [ 0.10154273,  0.09613832,  0.00974302,  0.03231884,  0.00218545,
         0.00856955,  0.00741761,  0.00338045,  0.11706697,  0.0031436 ,
         0.01272514,  0.00683626,  0.02409379,  0.0828103 ,  0.32806528,
         0.16396266],
       [ 0.12462485,  0.06267744,  0.01011599,  0.02067231,  0.00325612,
         0.00768259,  0.01295496,  0.00300119,  0.13117186,  0.00345311,
         0.00663971,  0.00742766,  0.02529577,  0.07874946,  0.15388359,
         0.34839338]])

In [25]:
normed_matrix_df = pd.DataFrame(normed_matrix, index = row_list, columns= column_list)
normed_matrix_df

,PERSON,NORP,FAC,LOC,PRODUCT,EVENT,WORK_OF_ART,LANGUAGE,DATE,TIME,PERCENT,MONEY,ORDINAL,CARDINAL,GPE,ORG
How many,0.077707,0.073885,0.008035,0.020529,0.001470,0.007447,0.008378,0.002548,0.133954,0.005585,0.016463,0.011367,0.023959,0.263596,0.172464,0.172611
How much,0.077144,0.064926,0.004792,0.019885,0.003354,0.006229,0.004312,0.004552,0.174653,0.005750,0.080738,0.084332,0.019166,0.127216,0.156924,0.166028
What,0.139422,0.106602,0.009828,0.030226,0.003102,0.008705,0.013986,0.005516,0.129560,0.004372,0.014240,0.005743,0.026729,0.085623,0.194946,0.221401
When,0.138312,0.096835,0.008062,0.025136,0.002587,0.010865,0.012891,0.004225,0.203760,0.004225,0.002285,0.004096,0.033974,0.072260,0.184919,0.195568
Where,0.145782,0.089799,0.021461,0.041158,0.002541,0.008119,0.010660,0.003177,0.101871,0.002330,0.002683,0.002471,0.028097,0.068761,0.252524,0.218567
Who,0.249378,0.101597,0.006939,0.020490,0.002684,0.008674,0.015482,0.002946,0.123789,0.002651,0.002586,0.003011,0.030276,0.058556,0.159859,0.211083
Which,0.166399,0.096950,0.014236,0.035063,0.003633,0.008871,0.015208,0.004689,0.117734,0.003380,0.006337,0.005281,0.028937,0.073800,0.207334,0.212149
Whom,0.238866,0.107692,0.008097,0.019433,0.000810,0.009717,0.012146,0.004049,0.123887,0.000000,0.003239,0.002429,0.032389,0.048583,0.175709,0.212955
PERSON,0.333646,0.072878,0.008440,0.019353,0.002660,0.006718,0.018381,0.003990,0.125720,0.003632,0.003410,0.004024,0.023957,0.064216,0.143335,0.165638
NORP,0.107917,0.288264,0.005046,0.030949,0.002662,0.007778,0.009769,0.009375,0.099421,0.002153,0.016389,0.003079,0.019653,0.065787,0.193796,0.137963
FAC,0.134480,0.059871,0.162112,0.045748,0.000921,0.009211,0.012281,0.000921,0.097022,0.003991,0.005834,0.009825,0.028554,0.081363,0.172551,0.175315
LOC,0.097902,0.106668,0.012312,0.152861,0.002758,0.008963,0.009160,0.003743,0.102827,0.003152,0.004629,0.003644,0.021865,0.074559,0.228011,0.166946
PRODUCT,0.158222,0.065778,0.007111,0.020444,0.048000,0.010667,0.019556,0.006222,0.136889,0.003556,0.010667,0.008889,0.024000,0.092444,0.151111,0.236444
EVENT,0.100342,0.110283,0.007456,0.034793,0.003107,0.105002,0.011494,0.002485,0.139484,0.001553,0.003107,0.003107,0.031687,0.079217,0.196024,0.170861
WORK_OF_ART,0.208951,0.055664,0.008112,0.021259,0.002797,0.011748,0.121119,0.005035,0.135385,0.002797,0.005035,0.003916,0.025455,0.072448,0.129231,0.191049
LANGUAGE,0.114620,0.227203,0.007641,0.029547,0.003566,0.001528,0.021905,0.134997,0.082017,0.007641,0.010698,0.001019,0.023943,0.044829,0.157922,0.130922
DATE,0.116282,0.069545,0.007388,0.019114,0.002352,0.010623,0.012295,0.002904,0.251493,0.005367,0.022992,0.013472,0.026337,0.108857,0.155630,0.175351
TIME,0.105978,0.046196,0.005435,0.010870,0.002717,0.000000,0.012228,0.006793,0.164402,0.187500,0.014946,0.008152,0.021739,0.158967,0.091033,0.163043
PERCENT,0.044669,0.070605,0.005764,0.007205,0.001441,0.002882,0.001441,0.005764,0.136888,0.000000,0.311239,0.020173,0.008646,0.123919,0.110951,0.148415
MONEY,0.096708,0.034979,0.012346,0.006173,0.002058,0.002058,0.014403,0.000000,0.187243,0.010288,0.024691,0.183128,0.022634,0.096708,0.129630,0.176955
ORDINAL,0.137193,0.077011,0.011979,0.024957,0.002424,0.009555,0.015616,0.004064,0.154877,0.003066,0.003993,0.003565,0.140473,0.080719,0.155020,0.175485
CARDINAL,0.114837,0.074737,0.010228,0.021387,0.003196,0.008194,0.013425,0.003022,0.122625,0.006160,0.011274,0.008136,0.028767,0.230139,0.159005,0.184867
GPE,0.101543,0.096138,0.009743,0.032319,0.002185,0.008570,0.007418,0.003380,0.117067,0.003144,0.012725,0.006836,0.024094,0.082810,0.328065,0.163963
ORG,0.124625,0.062677,0.010116,0.020672,0.003256,0.007683,0.012955,0.003001,0.131172,0.003453,0.006640,0.007428,0.025296,0.078749,0.153884,0.348393

In [26]:
normed_matrix_df['Tags'] = normed_matrix_df.index

In [27]:
#normalized heatmap
melt_normed_matrix_df = pd.melt(normed_matrix_df,id_vars = ['Tags'])
melt_normed_matrix_df.head()


import plotly.plotly as py
import plotly.graph_objs as go

trace = go.Heatmap(z=melt_normed_matrix_df['value'],
                  x=melt_normed_matrix_df['Tags'] ,
                  y=melt_normed_matrix_df['variable'])
data=[trace]
py.iplot(data)

In [252]:
melt_normed_matrix_df.columns = ['Question_tag', 'Answer_tag', 'z_value']
melt_normed_matrix_df.head()

  Question_tag Answer_tag   z_value
0     How many     PERSON  0.077707
1     How much     PERSON  0.077144
2         What     PERSON  0.139422
3         When     PERSON  0.138312
4        Where     PERSON  0.145782

In [268]:
answer_dict = {'LOC': 1,'PERSON': 2,'NORP': 3,'FAC': 4,'PRODUCT': 5,'EVENT': 6,'WORK_OF_ART': 7,'LANGUAGE': 8,'DATE':9,'TIME': 10,'PERCENT': 11,'MONEY': 12,'ORDINAL': 13,'CARDINAL': 14,'GPE': 15, 'ORG': 16}

In [269]:
answer_dict

{'CARDINAL': 14,
 'DATE': 9,
 'EVENT': 6,
 'FAC': 4,
 'GPE': 15,
 'LANGUAGE': 8,
 'LOC': 1,
 'MONEY': 12,
 'NORP': 3,
 'ORDINAL': 13,
 'ORG': 16,
 'PERCENT': 11,
 'PERSON': 2,
 'PRODUCT': 5,
 'TIME': 10,
 'WORK_OF_ART': 7}

In [271]:
question_dict = {'LOC': 10,
                 'PERSON': 20,
                 'NORP': 30,
                 'FAC': 40,
                 'PRODUCT': 50,
                 'EVENT':60,
                 'WORK_OF_ART':70,
                 'LANGUAGE':80,
                 'DATE': 90,
                 'TIME': 100,
                 'PERCENT': 110,
                 'MONEY': 120,
                 'ORDINAL':130,
                 'CARDINAL': 140,
                 'GPE': 150,
                 'ORG': 160,
                 'How many': 170,
                 'How much': 180,
                 'What': 190,
                 'When': 200,
                 'Where': 210,
                 'Who': 220,
                 'Which':230,
                 'Whom': 240}

In [272]:
question_dict

{'CARDINAL': 140,
 'DATE': 90,
 'EVENT': 60,
 'FAC': 40,
 'GPE': 150,
 'How many': 170,
 'How much': 180,
 'LANGUAGE': 80,
 'LOC': 10,
 'MONEY': 120,
 'NORP': 30,
 'ORDINAL': 130,
 'ORG': 160,
 'PERCENT': 110,
 'PERSON': 20,
 'PRODUCT': 50,
 'TIME': 100,
 'WORK_OF_ART': 70,
 'What': 190,
 'When': 200,
 'Where': 210,
 'Which': 230,
 'Who': 220,
 'Whom': 240}

In [273]:
#created a copy of melt_normed_matrix_df
melt_normed_matrix_df_1 = melt_normed_matrix_df.copy()

In [275]:
melt_normed_matrix_df_1.head()

  Question_tag Answer_tag   z_value
0     How many     PERSON  0.077707
1     How much     PERSON  0.077144
2         What     PERSON  0.139422
3         When     PERSON  0.138312
4        Where     PERSON  0.145782

In [281]:
melt_normed_matrix_df_1["Question_tag"].replace(question_dict, inplace=True)

In [283]:
melt_normed_matrix_df_1['Answer_tag'].replace(answer_dict, inplace = True)

In [284]:
melt_normed_matrix_df_1 #dataframe with tag2index mapped

     Question_tag  Answer_tag   z_value
0             170           2  0.077707
1             180           2  0.077144
2             190           2  0.139422
3             200           2  0.138312
4             210           2  0.145782
5             220           2  0.249378
6             230           2  0.166399
7             240           2  0.238866
8              20           2  0.333646
9              30           2  0.107917
10             40           2  0.134480
11             10           2  0.097902
12             50           2  0.158222
13             60           2  0.100342
14             70           2  0.208951
15             80           2  0.114620
16             90           2  0.116282
17            100           2  0.105978
18            110           2  0.044669
19            120           2  0.096708
20            130           2  0.137193
21            140           2  0.114837
22            150           2  0.101543
23            160           2  0.124625
24            170           3  0.073885
25            180           3  0.064926
26            190           3  0.106602
27            200           3  0.096835
28            210           3  0.089799
29            220           3  0.101597
..            ...         ...       ...
354           110          15  0.110951
355           120          15  0.129630
356           130          15  0.155020
357           140          15  0.159005
358           150          15  0.328065
359           160          15  0.153884
360           170          16  0.172611
361           180          16  0.166028
362           190          16  0.221401
363           200          16  0.195568
364           210          16  0.218567
365           220          16  0.211083
366           230          16  0.212149
367           240          16  0.212955
368            20          16  0.165638
369            30          16  0.137963
370            40          16  0.175315
371            10          16  0.166946
372            50          16  0.236444
373            60          16  0.170861
374            70          16  0.191049
375            80          16  0.130922
376            90          16  0.175351
377           100          16  0.163043
378           110          16  0.148415
379           120          16  0.176955
380           130          16  0.175485
381           140          16  0.184867
382           150          16  0.163963
383           160          16  0.348393

[384 rows x 3 columns]

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.]])

In [552]:
# sales = [{'Question_type': 'Where', 'Answer_NER_tag': ['GPE', 'LOC']},
#         {'Question_type': 'What', 'Answer_NER_tag': ['GPE', 'LOC', 'PERSON', 'ORG', 'DATE']},
#         {'Question_type': 'When', 'Answer_NER_tag': ['DATE', 'TIME']},
#         {'Question_type': 'Who', 'Answer_NER_tag': ['PERSON', 'ORG']},
#         {'Question_type': 'How much', 'Answer_NER_tag': ['CARDINAL', 'MONEY']},
#         {'Question_type': 'How many', 'Answer_NER_tag': ['CARDINAL', 'ORDINAL']}]
# df = pd.DataFrame(sales)

## Logarithmic transformation
- log(1+X)

In [371]:
log_matrix = np.zeros((co_occ_matrix.shape))

In [29]:
for i in range(len(co_occ_matrix)):
    for j in range(len(co_occ_matrix[i])):
        log_matrix[i][j] = (np.log(1 + co_occ_matrix[i][j]))

In [30]:
log_matrix

array([[  7.36960072,   7.31920246,   5.10594547,   6.04025471,
          3.4339872 ,   5.03043792,   5.14749448,   3.97029191,
          7.91388671,   4.74493213,   5.82008293,   5.45103845,
          6.19440539,   8.59062951,   8.16650032,   8.16735199],
       [  5.77765232,   5.60580207,   3.04452244,   4.4308168 ,
          2.7080502 ,   3.29583687,   2.94443898,   2.99573227,
          6.59304453,   3.21887582,   5.8230459 ,   5.86646806,
          4.39444915,   6.27664349,   6.48616079,   6.54247196],
       [  9.94534901,   9.67696329,   7.29369772,   8.41670965,
          6.14203741,   7.17242458,   7.64635372,   6.71659477,
          9.87199689,   6.48463524,   7.66434663,   6.75693239,
          8.29379961,   9.45782525,  10.28055319,  10.40780202],
       [  8.07371464,   7.71735127,   5.23644196,   6.36990098,
          4.11087386,   5.53338949,   5.70378247,   4.59511985,
          8.46104603,   4.59511985,   3.98898405,   4.56434819,
          6.67076632,   7.42476176,   8.36404201,   8.42002128],
       [  7.63336965,   7.1491316 ,   5.72031178,   6.36990098,
          3.61091791,   4.75359019,   5.02388052,   3.8286414 ,
          7.27517232,   3.52636052,   3.66356165,   3.58351894,
          5.98896142,   6.88243747,   8.18255926,   8.03818918],
       [  8.93853165,   8.04076899,   5.36129217,   6.44094654,
          4.41884061,   5.58349631,   6.16120732,   4.51085951,
          8.23827262,   4.40671925,   4.38202663,   4.53259949,
          6.83087423,   7.4899709 ,   8.49392456,   8.77183541],
       [  8.278936  ,   7.73892376,   5.8230459 ,   6.72262979,
          4.46590812,   5.35185813,   5.88887796,   4.71849887,
          7.93307977,   4.39444915,   5.01727984,   4.83628191,
          6.53087763,   7.46622756,   8.49882553,   8.52178264],
       [  5.69035945,   4.8978398 ,   2.39789527,   3.21887582,
          0.69314718,   2.56494936,   2.77258872,   1.79175947,
          5.0369526 ,   0.        ,   1.60943791,   1.38629436,
          3.71357207,   4.11087386,   5.38449506,   5.5759491 ],
       [  9.88165086,   8.36053938,   6.20657593,   7.0352686 ,
          5.05624581,   5.97888576,   6.98378997,   5.45958551,
          8.90571558,   5.36597602,   5.30330491,   5.46806014,
          7.24850407,   8.23403421,   9.03681997,   9.18142636],
       [  8.4474143 ,   9.42979714,   5.38907173,   7.19893124,
          4.75359019,   5.82008293,   6.04737218,   6.00635316,
          8.36543964,   4.54329478,   6.56385553,   4.8978398 ,
          6.74523635,   7.95261511,   9.03276752,   8.69299353],
       [  6.08449941,   5.27811466,   6.27098843,   5.01063529,
          1.38629436,   3.4339872 ,   3.71357207,   1.38629436,
          5.75890177,   2.63905733,   2.99573227,   3.49650756,
          4.54329478,   5.58349631,   6.33327963,   6.34913899],
       [  6.90274274,   6.98841318,   4.83628191,   7.34794382,
          3.36729583,   4.52178858,   4.54329478,   3.66356165,
          6.95177216,   3.49650756,   3.87120101,   3.63758616,
          5.40717177,   6.63068339,   7.74759684,   7.43602782],
       [  5.18738581,   4.31748811,   2.19722458,   3.17805383,
          4.00733319,   2.56494936,   3.13549422,   2.07944154,
          5.04342512,   1.60943791,   2.56494936,   2.39789527,
          3.33220451,   4.65396035,   5.14166356,   5.58724866],
       [  5.78074352,   5.87493073,   3.21887582,   4.72738782,
          2.39789527,   5.82600011,   3.63758616,   2.19722458,
          6.10924758,   1.79175947,   2.39789527,   2.39789527,
          4.63472899,   5.54517744,   6.44888939,   6.31173481],
       [  6.61740298,   5.29831737,   3.40119738,   4.34380542,
          2.39789527,   3.76120012,   6.07304453,   2.94443898,
          6.18414889,   2.39789527,   2.94443898,   2.7080502 ,
          4.52178858,   5.56068163,   6.13772705,   6.52795792],
       [  5.420535  ,   6.10255859,   2.77258872,   4.07753744,
          2.07944154,   1.38629436,   3.78418963,   5.58349631,
          5.08759634,   2.77258872,   3.09104245,   1.09861229,
          3.87120101,   4.48863637,   5.73979291,   5.55295958],
       [  8.75273951,   8.23880117,   5.99893656,   6.94793707,
          4.8598124 ,   6.36130248,   6.50727771,   5.0689042 ,
          9.52405562,   5.68017261,   7.13249755,   6.59850903,
          7.26822302,   8.68676718,   9.04416772,   9.16345839],
       [  4.36944785,   3.55534806,   1.60943791,   2.19722458,
          1.09861229,   0.        ,   2.30258509,   1.79175947,
          4.80402104,   4.93447393,   2.48490665,   1.94591015,
          2.83321334,   4.77068462,   4.21950771,   4.79579055],
       [  3.4657359 ,   3.91202301,   1.60943791,   1.79175947,
          0.69314718,   1.09861229,   0.69314718,   1.60943791,
          4.56434819,   0.        ,   5.37989735,   2.7080502 ,
          1.94591015,   4.46590812,   4.35670883,   4.6443909 ],
       [  3.87120101,   2.89037176,   1.94591015,   1.38629436,
          0.69314718,   0.69314718,   2.07944154,   0.        ,
          4.52178858,   1.79175947,   2.56494936,   4.49980967,
          2.48490665,   3.87120101,   4.15888308,   4.46590812],
       [  7.56268125,   6.98564182,   5.12989871,   5.86078622,
          3.55534806,   4.90527478,   5.39362755,   4.06044301,
          7.68386398,   3.78418963,   4.04305127,   3.93182563,
          7.58629631,   7.03262426,   7.68478394,   7.80872931],
       [  7.58933582,   7.16006921,   5.17614973,   5.91079664,
          4.02535169,   4.95582706,   5.44673737,   3.97029191,
          7.65491705,   4.67282883,   5.27299956,   4.94875989,
          6.20657593,   8.2842518 ,   7.91461771,   8.06526521],
       [  9.15196946,   9.09728365,   6.80903931,   8.00736707,
          5.31811999,   6.68085468,   6.5366916 ,   5.75257264,
          9.29422186,   5.68017261,   7.07580886,   6.45519856,
          7.71378462,   8.9480661 ,  10.32462914,   9.6310881 ],
       [  9.28321902,   8.59600437,   6.77308038,   7.48717369,
          5.64190707,   6.49828215,   7.02019071,   5.56068163,
          9.33441469,   5.70044357,   6.3526294 ,   6.4645883 ,
          7.68891334,   8.82423662,   9.49408972,  10.3111835 ]])

In [31]:
log_matrix_df = pd.DataFrame(log_matrix, index = row_list, columns= column_list)
log_matrix_df

,PERSON,NORP,FAC,LOC,PRODUCT,EVENT,WORK_OF_ART,LANGUAGE,DATE,TIME,PERCENT,MONEY,ORDINAL,CARDINAL,GPE,ORG
How many,7.369601,7.319202,5.105945,6.040255,3.433987,5.030438,5.147494,3.970292,7.913887,4.744932,5.820083,5.451038,6.194405,8.590630,8.166500,8.167352
How much,5.777652,5.605802,3.044522,4.430817,2.708050,3.295837,2.944439,2.995732,6.593045,3.218876,5.823046,5.866468,4.394449,6.276643,6.486161,6.542472
What,9.945349,9.676963,7.293698,8.416710,6.142037,7.172425,7.646354,6.716595,9.871997,6.484635,7.664347,6.756932,8.293800,9.457825,10.280553,10.407802
When,8.073715,7.717351,5.236442,6.369901,4.110874,5.533389,5.703782,4.595120,8.461046,4.595120,3.988984,4.564348,6.670766,7.424762,8.364042,8.420021
Where,7.633370,7.149132,5.720312,6.369901,3.610918,4.753590,5.023881,3.828641,7.275172,3.526361,3.663562,3.583519,5.988961,6.882437,8.182559,8.038189
Who,8.938532,8.040769,5.361292,6.440947,4.418841,5.583496,6.161207,4.510860,8.238273,4.406719,4.382027,4.532599,6.830874,7.489971,8.493925,8.771835
Which,8.278936,7.738924,5.823046,6.722630,4.465908,5.351858,5.888878,4.718499,7.933080,4.394449,5.017280,4.836282,6.530878,7.466228,8.498826,8.521783
Whom,5.690359,4.897840,2.397895,3.218876,0.693147,2.564949,2.772589,1.791759,5.036953,0.000000,1.609438,1.386294,3.713572,4.110874,5.384495,5.575949
PERSON,9.881651,8.360539,6.206576,7.035269,5.056246,5.978886,6.983790,5.459586,8.905716,5.365976,5.303305,5.468060,7.248504,8.234034,9.036820,9.181426
NORP,8.447414,9.429797,5.389072,7.198931,4.753590,5.820083,6.047372,6.006353,8.365440,4.543295,6.563856,4.897840,6.745236,7.952615,9.032768,8.692994
FAC,6.084499,5.278115,6.270988,5.010635,1.386294,3.433987,3.713572,1.386294,5.758902,2.639057,2.995732,3.496508,4.543295,5.583496,6.333280,6.349139
LOC,6.902743,6.988413,4.836282,7.347944,3.367296,4.521789,4.543295,3.663562,6.951772,3.496508,3.871201,3.637586,5.407172,6.630683,7.747597,7.436028
PRODUCT,5.187386,4.317488,2.197225,3.178054,4.007333,2.564949,3.135494,2.079442,5.043425,1.609438,2.564949,2.397895,3.332205,4.653960,5.141664,5.587249
EVENT,5.780744,5.874931,3.218876,4.727388,2.397895,5.826000,3.637586,2.197225,6.109248,1.791759,2.397895,2.397895,4.634729,5.545177,6.448889,6.311735
WORK_OF_ART,6.617403,5.298317,3.401197,4.343805,2.397895,3.761200,6.073045,2.944439,6.184149,2.397895,2.944439,2.708050,4.521789,5.560682,6.137727,6.527958
LANGUAGE,5.420535,6.102559,2.772589,4.077537,2.079442,1.386294,3.784190,5.583496,5.087596,2.772589,3.091042,1.098612,3.871201,4.488636,5.739793,5.552960
DATE,8.752740,8.238801,5.998937,6.947937,4.859812,6.361302,6.507278,5.068904,9.524056,5.680173,7.132498,6.598509,7.268223,8.686767,9.044168,9.163458
TIME,4.369448,3.555348,1.609438,2.197225,1.098612,0.000000,2.302585,1.791759,4.804021,4.934474,2.484907,1.945910,2.833213,4.770685,4.219508,4.795791
PERCENT,3.465736,3.912023,1.609438,1.791759,0.693147,1.098612,0.693147,1.609438,4.564348,0.000000,5.379897,2.708050,1.945910,4.465908,4.356709,4.644391
MONEY,3.871201,2.890372,1.945910,1.386294,0.693147,0.693147,2.079442,0.000000,4.521789,1.791759,2.564949,4.499810,2.484907,3.871201,4.158883,4.465908
ORDINAL,7.562681,6.985642,5.129899,5.860786,3.555348,4.905275,5.393628,4.060443,7.683864,3.784190,4.043051,3.931826,7.586296,7.032624,7.684784,7.808729
CARDINAL,7.589336,7.160069,5.176150,5.910797,4.025352,4.955827,5.446737,3.970292,7.654917,4.672829,5.273000,4.948760,6.206576,8.284252,7.914618,8.065265
GPE,9.151969,9.097284,6.809039,8.007367,5.318120,6.680855,6.536692,5.752573,9.294222,5.680173,7.075809,6.455199,7.713785,8.948066,10.324629,9.631088
ORG,9.283219,8.596004,6.773080,7.487174,5.641907,6.498282,7.020191,5.560682,9.334415,5.700444,6.352629,6.464588,7.688913,8.824237,9.494090,10.311184

In [159]:
log_matrix_df['Tags'] = log_matrix_df.index

In [369]:
#normalized heatmap
melt_log_matrix_df = pd.melt(log_matrix_df,id_vars = ['Tags'])
melt_log_matrix_df.head()



import plotly.plotly as py
import plotly.graph_objs as go

trace = go.Heatmap(z=melt_log_matrix_df['value'],
                  x=melt_log_matrix_df['Tags'] ,
                  y=melt_log_matrix_df['variable'])
data=[trace]
py.iplot(data)

### Supriselib for latent factors

In [289]:
from surprise import SVDpp
from surprise import dataset
from surprise import accuracy, Reader

In [299]:
reader = Reader(line_format='user item rating', sep='\t')

In [368]:
melt_normed_matrix_df_1.head()

   Question_tag  Answer_tag   z_value
0           170           2  0.077707
1           180           2  0.077144
2           190           2  0.139422
3           200           2  0.138312
4           210           2  0.145782

In [305]:
csv_file  = melt_normed_matrix_df_1.to_csv("melt.txt", sep= '\t', header = False, index = False)

In [323]:
melt = Dataset.load_from_file("/data/melt.txt", reader)

In [328]:
len(melt.raw_ratings)

384

In [349]:
algo = SVDpp(n_factors=10)

In [350]:
melt.split(n_folds=2)

In [351]:
for trainset, testset in melt.folds():
    algo.train(trainset)
    predictions_svdpp = algo.test(testset)
    rmse = accuracy.rmse(predictions_svdpp, verbose=True)

RMSE: 0.9416
RMSE: 0.9392

In [353]:
predict_df = pd.DataFrame(predictions_svdpp)
predict_df

     uid iid      r_ui  est                    details
0     40   1  0.045748    1  {'was_impossible': False}
1    230  10  0.003380    1  {'was_impossible': False}
2    220   2  0.249378    1  {'was_impossible': False}
3    240   5  0.000810    1  {'was_impossible': False}
4     30   8  0.009375    1  {'was_impossible': False}
5     90  11  0.022992    1  {'was_impossible': False}
6    210   7  0.010660    1  {'was_impossible': False}
7    130  12  0.003565    1  {'was_impossible': False}
8    150  14  0.082810    1  {'was_impossible': False}
9    230   7  0.015208    1  {'was_impossible': False}
10   150   9  0.117067    1  {'was_impossible': False}
11   170  12  0.011367    1  {'was_impossible': False}
12    50  10  0.003556    1  {'was_impossible': False}
13   180   9  0.174653    1  {'was_impossible': False}
14   110  14  0.123919    1  {'was_impossible': False}
15    50   3  0.065778    1  {'was_impossible': False}
16   160   2  0.124625    1  {'was_impossible': False}
17   220   3  0.101597    1  {'was_impossible': False}
18   160  11  0.006640    1  {'was_impossible': False}
19   200   8  0.004225    1  {'was_impossible': False}
20   100   5  0.002717    1  {'was_impossible': False}
21   100  12  0.008152    1  {'was_impossible': False}
22   220  13  0.030276    1  {'was_impossible': False}
23   230  11  0.006337    1  {'was_impossible': False}
24    80   1  0.029547    1  {'was_impossible': False}
25   120   6  0.002058    1  {'was_impossible': False}
26    60   3  0.110283    1  {'was_impossible': False}
27    40  10  0.003991    1  {'was_impossible': False}
28   170   2  0.077707    1  {'was_impossible': False}
29   180   5  0.003354    1  {'was_impossible': False}
..   ...  ..       ...  ...                        ...
162   30   6  0.007778    1  {'was_impossible': False}
163   10  10  0.003152    1  {'was_impossible': False}
164  110   9  0.136888    1  {'was_impossible': False}
165   10   7  0.009160    1  {'was_impossible': False}
166  230  14  0.073800    1  {'was_impossible': False}
167   60   4  0.007456    1  {'was_impossible': False}
168  190  16  0.221401    1  {'was_impossible': False}
169  110  15  0.110951    1  {'was_impossible': False}
170   30   1  0.030949    1  {'was_impossible': False}
171   30   7  0.009769    1  {'was_impossible': False}
172   60   9  0.139484    1  {'was_impossible': False}
173   90  10  0.005367    1  {'was_impossible': False}
174  220   6  0.008674    1  {'was_impossible': False}
175   40   7  0.012281    1  {'was_impossible': False}
176   70  16  0.191049    1  {'was_impossible': False}
177  180   6  0.006229    1  {'was_impossible': False}
178   90   1  0.019114    1  {'was_impossible': False}
179   80  13  0.023943    1  {'was_impossible': False}
180  160  13  0.025296    1  {'was_impossible': False}
181  190  12  0.005743    1  {'was_impossible': False}
182   10   4  0.012312    1  {'was_impossible': False}
183  220  11  0.002586    1  {'was_impossible': False}
184  150   4  0.009743    1  {'was_impossible': False}
185  210   9  0.101871    1  {'was_impossible': False}
186   10   5  0.002758    1  {'was_impossible': False}
187  140   9  0.122625    1  {'was_impossible': False}
188   30  14  0.065787    1  {'was_impossible': False}
189  150   7  0.007418    1  {'was_impossible': False}
190  140  10  0.006160    1  {'was_impossible': False}
191  160  16  0.348393    1  {'was_impossible': False}

[192 rows x 5 columns]

In [354]:
algo.pu.shape #question_type latent factor matrix

(24, 10)

In [355]:
algo.qi.T.shape #answer_type latent factor matrix

(10, 16)

In [356]:
reconstruct = np.dot(algo.pu, algo.qi.T)

In [362]:
reconstruct

array([[ -4.20613697e-03,   2.56455254e-02,   1.99275688e-02,
          2.38021968e-02,   5.74832316e-03,   5.51914775e-02,
          2.09839957e-02,   3.22327472e-02,  -1.43043464e-02,
         -2.65364117e-02,  -6.19564810e-03,   5.36128052e-02,
          8.46566402e-03,   1.45401312e-02,  -5.74872324e-02,
         -3.38365157e-02],
       [ -5.83988146e-02,   5.74513158e-02,  -1.29195026e-03,
          3.66845787e-02,   2.87584730e-02,  -1.66695929e-02,
         -1.56430386e-02,   1.62082942e-02,  -1.95865844e-02,
         -1.06138865e-02,  -3.89278344e-03,   2.81124699e-02,
         -9.80608006e-03,   6.75261869e-03,  -3.81896836e-02,
         -1.08256301e-02],
       [  1.03998454e-03,   6.74117160e-04,  -2.08616679e-03,
          3.96127240e-02,   3.04481853e-03,  -3.92117556e-02,
         -4.65139867e-03,  -8.73391414e-03,   6.31186763e-03,
          2.26108810e-02,  -1.07016264e-02,  -1.34462193e-02,
         -2.19973077e-02,   1.76519500e-03,  -1.55874801e-05,
          2.22804105e-02],
       [ -8.75004297e-02,   1.18889911e-02,   8.47549439e-03,
          3.24877157e-02,  -1.18252225e-02,  -2.41442318e-02,
          1.56539981e-02,  -4.28094314e-02,  -1.10084662e-02,
         -1.42902621e-02,  -5.14357500e-03,   3.98375272e-02,
         -3.49764024e-02,   3.18393267e-02,   1.37498358e-02,
         -5.43005384e-04],
       [ -1.32795772e-02,  -6.79448505e-03,   1.34683722e-03,
         -1.30409000e-02,  -6.69595530e-03,   1.37027471e-03,
         -1.76619871e-02,  -3.46528719e-02,  -7.45235712e-03,
          2.75429877e-02,  -1.85820383e-03,  -5.10758575e-03,
          1.15441150e-03,   5.74762642e-03,   6.39733332e-02,
          9.81481530e-03],
       [  9.20947318e-04,  -2.02640562e-03,  -5.43359266e-03,
         -7.58025909e-02,   2.10199833e-02,   4.81796697e-02,
          2.74127722e-02,  -5.32979187e-03,   6.52758561e-03,
          2.01454869e-02,   3.01418221e-02,   1.26454137e-02,
          2.09415880e-02,  -1.27392624e-03,   3.00618260e-03,
         -2.02365184e-02],
       [  3.77679706e-02,   8.68229662e-03,   1.16549396e-02,
         -1.00375224e-02,   3.63757962e-02,   1.02200106e-02,
         -1.52906304e-03,   3.25463459e-02,  -5.58940411e-03,
         -6.85237834e-03,   2.37111741e-02,  -2.79994835e-02,
          5.91040439e-02,  -3.73207061e-02,   1.54787652e-02,
          8.99509550e-03],
       [ -2.68829966e-02,   2.70005366e-02,  -2.09384933e-02,
          2.87881927e-02,  -2.38581487e-02,   2.03425012e-03,
          7.64205947e-03,  -5.76578863e-03,   6.71166189e-03,
         -5.25506978e-02,  -6.01865352e-03,   6.30602110e-02,
         -4.26771243e-03,   2.38920525e-02,  -2.34358275e-02,
          3.97371480e-03],
       [  1.23941381e-03,   3.47286352e-02,   5.18664924e-02,
          5.52462611e-03,   5.31855313e-02,   1.65203115e-02,
         -1.95843445e-02,   3.79698411e-02,  -2.07417860e-02,
          2.05549647e-02,   8.09495954e-03,  -3.10159261e-02,
          2.96855886e-02,  -3.55330705e-02,   3.25899922e-03,
         -2.22023360e-03],
       [  5.85381926e-03,  -8.04634225e-03,   9.37782950e-03,
         -7.98571468e-02,  -1.25814107e-02,   6.19507273e-02,
          2.17983293e-02,  -5.14188036e-03,   2.04756729e-02,
         -6.91040619e-04,   8.79466414e-03,   2.04072644e-02,
         -7.34474157e-03,   1.40869430e-02,  -3.92866067e-02,
         -2.89612193e-02],
       [  7.02951071e-02,  -4.68104993e-02,  -2.11371731e-03,
         -5.49260149e-02,  -1.76389590e-02,   4.34134257e-02,
          1.09316868e-02,   2.53742026e-02,   7.49083541e-03,
         -1.30528831e-02,   7.06241693e-03,  -2.78443612e-02,
          2.78909133e-02,  -1.53650435e-02,  -1.10185182e-02,
         -2.25533170e-02],
       [  3.24851935e-02,   1.24482098e-02,   1.52217710e-02,
         -1.94856088e-02,   1.14689614e-02,   6.92594268e-03,
          2.32299553e-03,  -8.10246166e-03,   3.04399885e-02,
          9.81169596e-03,   1.53298824e-02,  -6.65016149e-03,
          2.43693052e-02,  -1.90472003e-02,   2.67870990e-02,
          4.16846044e-02],
       [  1.29523292e-02,   9.07042125e-03,   1.16515124e-02,
         -2.08209469e-02,  -4.92143182e-03,   1.52743023e-02,
          2.99615461e-03,   7.58036824e-03,   1.67043469e-02,
         -3.46638585e-02,   1.18984959e-02,   6.93118970e-03,
          2.34604402e-02,  -1.55510104e-02,   8.39648908e-03,
          1.65935062e-02],
       [ -1.94115148e-02,   1.04419870e-02,  -2.41301776e-02,
         -5.17979449e-02,   1.58011642e-02,  -1.63631185e-02,
          2.34768980e-02,  -3.06860387e-02,   3.61506958e-02,
          2.83003622e-02,   2.68934194e-02,   8.90531858e-03,
         -1.66279362e-02,   8.71746180e-04,   6.17562543e-03,
          2.50029771e-02],
       [ -2.57437043e-02,   4.16850334e-02,  -6.65163299e-03,
          1.49761370e-02,   1.54628068e-02,  -8.18203095e-03,
         -1.23814641e-02,   1.39460326e-02,   1.36028317e-03,
          3.50206190e-03,  -6.64618691e-03,   2.09719059e-02,
         -2.09656617e-02,   5.25313504e-03,  -4.15127315e-02,
         -2.42154317e-03],
       [ -3.89847674e-03,   2.28304809e-02,  -2.43480129e-02,
          7.28894990e-02,   2.68994288e-02,  -1.66141867e-02,
          3.94658350e-02,  -1.27304218e-02,   5.89826479e-03,
          4.95789334e-02,  -7.53715346e-04,   5.14411476e-02,
         -2.03756202e-02,   2.54112387e-02,  -1.74863248e-02,
          1.88797737e-02],
       [  2.83618226e-02,  -1.96870275e-02,   2.41870579e-02,
         -1.82771232e-02,   2.03216054e-02,  -1.49807965e-02,
         -2.56554048e-02,   6.14533699e-03,  -9.34004202e-03,
          2.83120679e-02,   7.08620935e-03,  -7.16127588e-02,
          2.58804031e-02,  -3.51940250e-02,   4.87235538e-02,
          1.25818797e-02],
       [  3.54847086e-03,   1.58536449e-02,  -5.35596295e-02,
          3.79825103e-02,  -1.10319691e-02,  -1.00704300e-02,
          4.54107564e-03,   3.48342931e-02,  -2.25022818e-03,
         -2.58932275e-02,  -1.50574634e-02,   4.20384436e-02,
         -2.48055387e-02,   1.78650032e-02,  -7.50224057e-02,
         -2.25103843e-02],
       [ -3.66108362e-02,   8.12669401e-03,  -4.31177761e-03,
         -5.04018001e-02,  -2.82603460e-02,   7.76731666e-02,
          2.42211310e-05,   9.10349682e-03,  -1.59639545e-02,
         -1.01807155e-02,  -1.52583254e-02,   6.12060911e-02,
         -3.59118501e-02,   3.14859119e-02,  -3.57251117e-02,
         -6.41724909e-02],
       [ -6.52692971e-02,   1.66087784e-02,   2.48233193e-02,
          6.50212597e-03,   4.68100038e-02,  -2.53496204e-03,
          5.15083941e-02,  -2.81382785e-02,  -1.11990304e-02,
          1.94037645e-02,   2.76729825e-02,   1.97767331e-02,
          7.55082251e-03,   1.87285577e-02,  -1.93299439e-02,
         -1.26260660e-02],
       [ -3.49821591e-02,   7.02162425e-02,   1.81233367e-02,
         -3.74623180e-02,   2.49740756e-02,   3.02100777e-02,
         -1.55742674e-02,  -2.99274443e-03,   1.99345551e-02,
          4.74742408e-03,   9.28541301e-03,   3.76602821e-02,
         -1.08479345e-03,   1.77695013e-03,  -2.48022737e-02,
          1.08332011e-02],
       [ -4.95461421e-02,   4.65288306e-03,   2.12379053e-03,
          6.21574276e-02,   1.11201798e-02,  -5.89472011e-02,
          1.99747290e-02,  -3.04502882e-02,  -1.10353734e-02,
         -2.42751195e-02,   6.71265823e-03,   1.71853804e-03,
          9.59392666e-03,   1.68238240e-02,  -3.25422976e-03,
          1.53724379e-02],
       [  1.95844113e-02,  -2.58851891e-02,  -8.90486805e-03,
         -2.64486613e-02,  -2.80051486e-02,   3.46760652e-02,
          2.91276296e-02,  -1.13346506e-02,   1.16423117e-02,
         -2.82233432e-02,   6.81077476e-03,   2.63465371e-02,
          1.41599107e-02,   1.51176321e-02,  -4.55468587e-03,
         -1.05557504e-02],
       [  4.87793868e-02,  -3.63974021e-02,  -1.41005203e-02,
         -7.13048981e-02,  -1.42314301e-02,   5.02459958e-02,
          1.63808971e-02,   2.07084638e-02,   1.31531905e-02,
          1.49458723e-02,   5.69571000e-03,  -7.07701949e-03,
         -7.05802978e-03,  -6.57306541e-03,  -1.76777436e-02,
         -2.95701742e-02]])

In [357]:
reconstruct.shape

(24, 16)

In [358]:
reconstruct_error = normed_matrix - reconstruct

In [359]:
reconstruct_error

array([[  8.19131433e-02,   4.82398249e-02,  -1.18922919e-02,
         -3.27304444e-03,  -4.27845545e-03,  -4.77441478e-02,
         -1.26057497e-02,  -2.96849765e-02,   1.48258291e-01,
          3.21219090e-02,   2.26581665e-02,  -4.22458282e-02,
          1.54931797e-02,   2.49056145e-01,   2.29951711e-01,
          2.06447981e-01],
       [  1.35543041e-01,   7.47441492e-03,   6.08351711e-03,
         -1.67995763e-02,  -2.54043762e-02,   2.28986298e-02,
          1.99554488e-02,  -1.16563057e-02,   1.94239196e-01,
          1.63637667e-02,   8.46306847e-02,   5.62191066e-02,
          2.89723474e-02,   1.20463481e-01,   1.95113498e-01,
          1.76853421e-01],
       [  1.38381710e-01,   1.05927922e-01,   1.19140124e-02,
         -9.38708470e-03,   5.73041470e-05,   4.79164188e-02,
          1.86376932e-02,   1.42495418e-02,   1.23248554e-01,
         -1.82384926e-02,   2.49419740e-02,   1.91891576e-02,
          4.87263734e-02,   8.38574024e-02,   1.94961267e-01,
          1.99120225e-01],
       [  2.25812062e-01,   8.49463973e-02,  -4.13064447e-04,
         -7.35190471e-03,   1.44120984e-02,   3.50091106e-02,
         -2.76273310e-03,   4.70346621e-02,   2.14768059e-01,
          1.85154928e-02,   7.42864873e-03,  -3.57416403e-02,
          6.89507061e-02,   4.04207406e-02,   1.71168678e-01,
          1.96110825e-01],
       [  1.59061434e-01,   9.65932849e-02,   2.01145112e-02,
          5.41986832e-02,   9.23743076e-03,   6.74832748e-03,
          2.83220648e-02,   3.78297162e-02,   1.09323165e-01,
         -2.52133019e-02,   4.54087238e-03,   7.57846468e-03,
          2.69430117e-02,   6.30134043e-02,   1.88550493e-01,
          2.08752075e-01],
       [  2.48457162e-01,   1.03623682e-01,   1.23725819e-02,
          9.62922478e-02,  -1.83360346e-02,  -3.95059331e-02,
         -1.19309707e-02,   8.27558920e-03,   1.17261364e-01,
         -1.74942693e-02,  -2.75560667e-02,  -9.63415421e-03,
          9.33466233e-03,   5.98298309e-02,   1.56852419e-01,
          2.31319263e-01],
       [  1.28631151e-01,   8.82676865e-02,   2.58128886e-03,
          4.51000435e-02,  -3.27428121e-02,  -1.34877035e-03,
          1.67369035e-02,  -2.78572618e-02,   1.23323436e-01,
          1.02318985e-02,  -1.73745739e-02,   3.32799837e-02,
         -3.01669030e-02,   1.11120976e-01,   1.91854793e-01,
          2.03154279e-01],
       [  2.65749393e-01,   8.06917711e-02,   2.90356593e-02,
         -9.35499432e-03,   2.46678653e-02,   7.68234907e-03,
          4.50368952e-03,   9.81437163e-03,   1.17174978e-01,
          5.25506978e-02,   9.25751992e-03,  -6.06310612e-02,
          3.66563764e-02,   2.46909435e-02,   1.99144330e-01,
          2.08981751e-01],
       [  3.32406530e-01,   3.81493104e-02,  -4.34260191e-02,
          1.38287825e-02,  -5.05255034e-02,  -9.80203577e-03,
          3.79658197e-02,  -3.39797992e-02,   1.46462210e-01,
         -1.69230035e-02,  -4.68466728e-03,   3.50400709e-02,
         -5.72828544e-03,   9.97488738e-02,   1.40075585e-01,
          1.67858129e-01],
       [  1.02062847e-01,   2.96310231e-01,  -4.33153320e-03,
          1.10806221e-01,   1.52434478e-02,  -5.41729495e-02,
         -1.20298107e-02,   1.45168804e-02,   7.89456234e-02,
          2.84381840e-03,   7.59422475e-03,  -1.73285607e-02,
          2.69975193e-02,   5.17000940e-02,   2.33082903e-01,
          1.66924182e-01],
       [  6.41844753e-02,   1.06681546e-01,   1.64226091e-01,
          1.00673635e-01,   1.85600521e-02,  -3.42024954e-02,
          1.34955365e-03,  -2.44531096e-02,   8.95309638e-02,
          1.70442862e-02,  -1.22882774e-03,   3.76693535e-02,
          6.62970665e-04,   9.67282612e-02,   1.83569946e-01,
          1.97868024e-01],
       [  6.54169044e-02,   9.42197701e-02,  -2.91013896e-03,
          1.72346832e-01,  -8.71115585e-03,   2.03692544e-03,
          6.83685870e-03,   1.18451978e-02,   7.23867622e-02,
         -6.65991816e-03,  -1.07007087e-02,   1.02944046e-02,
         -2.50384667e-03,   9.36064438e-02,   2.01224326e-01,
          1.25261126e-01],
       [  1.45269893e-01,   5.67073565e-02,  -4.54040126e-03,
          4.12653913e-02,   5.29214318e-02,  -4.60763564e-03,
          1.65594009e-02,  -1.35814602e-03,   1.20184542e-01,
          3.82194141e-02,  -1.23182926e-03,   1.95769919e-03,
          5.39559827e-04,   1.07995455e-01,   1.42714622e-01,
          2.19850938e-01],
       [  1.19753236e-01,   9.98407095e-02,   3.15859092e-02,
          8.65913590e-02,  -1.26946094e-02,   1.21364672e-01,
         -1.19826451e-02,   3.31712826e-02,   1.03333616e-01,
         -2.67470848e-02,  -2.37868646e-02,  -5.79876375e-03,
          4.83147955e-02,   7.83454020e-02,   1.89847984e-01,
          1.45857539e-01],
       [  2.34694753e-01,   1.39793023e-02,   1.47635211e-02,
          6.28260422e-03,  -1.26656040e-02,   1.99302827e-02,
          1.33500345e-01,  -8.91106755e-03,   1.34024332e-01,
         -7.04859100e-04,   1.16811519e-02,  -1.70558220e-02,
          4.64202071e-02,   6.71944174e-02,   1.70743501e-01,
          1.93470494e-01],
       [  1.18518956e-01,   2.04372779e-01,   3.19893782e-02,
         -4.33428867e-02,  -2.33334583e-02,   1.81424597e-02,
         -1.75605879e-02,   1.47727875e-01,   7.61190556e-02,
         -4.19375682e-02,   1.14516267e-02,  -5.04222989e-02,
          4.43185647e-02,   1.94181042e-02,   1.75407873e-01,
          1.12042284e-01],
       [  8.79198116e-02,   8.92317887e-02,  -1.67988460e-02,
          3.73909053e-02,  -1.79691399e-02,   2.56036485e-02,
          3.79507127e-02,  -3.24151240e-03,   2.60833306e-01,
         -2.29455060e-02,   1.59054651e-02,   8.50842994e-02,
          4.56183295e-04,   1.44050690e-01,   1.06906742e-01,
          1.62768693e-01],
       [  1.02429790e-01,   3.03420073e-02,   5.89944121e-02,
         -2.71129450e-02,   1.37493604e-02,   1.00704300e-02,
          7.68718523e-03,  -2.80408148e-02,   1.66652402e-01,
          2.13393228e-01,   3.00031156e-02,  -3.38862697e-02,
          4.65446691e-02,   1.41102388e-01,   1.66055014e-01,
          1.85553863e-01],
       [  8.12794241e-02,   6.24784933e-02,   1.00754664e-02,
          5.76064111e-02,   2.97012682e-02,  -7.47913222e-02,
          1.41670106e-03,  -3.33980806e-03,   1.52851563e-01,
          1.01807155e-02,   3.26497519e-01,  -4.10331805e-02,
          4.45573833e-02,   9.24333964e-02,   1.46676120e-01,
          2.12587476e-01],
       [  1.61977116e-01,   1.83706455e-02,  -1.24776403e-02,
         -3.29286465e-04,  -4.47523906e-02,   4.59257521e-03,
         -3.71051019e-02,   2.81382785e-02,   1.98441829e-01,
         -9.11569870e-03,  -2.98162448e-03,   1.63350839e-01,
          1.50829223e-02,   7.79792613e-02,   1.48959574e-01,
          1.89580799e-01],
       [  1.72175542e-01,   6.79459606e-03,  -6.14387294e-03,
          6.24195342e-02,  -2.25496603e-02,  -2.06550292e-02,
          3.11903541e-02,   7.05720536e-03,   1.34942798e-01,
         -1.68125181e-03,  -5.29225842e-03,  -3.40949655e-02,
          1.41558267e-01,   7.89418177e-02,   1.79822239e-01,
          1.64651682e-01],
       [  1.64383127e-01,   7.00841426e-02,   8.10460489e-03,
         -4.07707827e-02,  -7.92380623e-03,   6.71415406e-02,
         -6.54996000e-03,   3.34723141e-02,   1.33659887e-01,
          3.04354031e-02,   4.56182309e-03,   6.41768559e-03,
          1.91734355e-02,   2.13315073e-01,   1.62259286e-01,
          1.69494186e-01],
       [  8.19583234e-02,   1.22023508e-01,   1.86478891e-02,
          5.87675003e-02,   3.01905998e-02,  -2.61065130e-02,
         -2.17100146e-02,   1.47151021e-02,   1.05424662e-01,
          3.13669478e-02,   5.91436439e-03,  -1.95102737e-02,
          9.93388070e-03,   6.76926643e-02,   3.32619969e-01,
          1.74518415e-01],
       [  7.58454640e-02,   9.90748376e-02,   2.42165123e-02,
          9.19772118e-02,   1.74875513e-02,  -4.25634039e-02,
         -3.42593816e-03,  -1.77072703e-02,   1.18018665e-01,
         -1.14927616e-02,   9.43996138e-04,   1.45046838e-02,
          3.23538038e-02,   8.53225295e-02,   1.71561334e-01,
          3.77963551e-01]])

In [364]:
import math
from sklearn.metrics import mean_squared_error

In [366]:
rmse = mean_squared_error(normed_matrix, reconstruct)**0.5

In [367]:
rmse

0.10154766924484517

## TRIAL

In [403]:
sqd_data.data[1]['paragraphs']

[{'context': 'Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ bee-YON-say) (born September 4, 1981) is an American singer, songwriter, record producer and actress. Born and raised in Houston, Texas, she performed in various singing and dancing competitions as a child, and rose to fame in the late 1990s as lead singer of R&B girl-group Destiny\'s Child. Managed by her father, Mathew Knowles, the group became one of the world\'s best-selling girl groups of all time. Their hiatus saw the release of Beyoncé\'s debut album, Dangerously in Love (2003), which established her as a solo artist worldwide, earned five Grammy Awards and featured the Billboard Hot 100 number-one singles "Crazy in Love" and "Baby Boy".',
  'qas': [{'answers': [{'answer_start': 269, 'text': 'in the late 1990s'}],
    'id': '56be85543aeaaa14008c9063',
    'question': 'When did Beyonce start becoming popular?'},
   {'answers': [{'answer_start': 207, 'text': 'singing and dancing'}],
    'id': '56be85543aeaaa14008c9065',
    'question': 'What areas did Beyonce compete in when she was growing up?'},
   {'answers': [{'answer_start': 526, 'text': '2003'}],
    'id': '56be85543aeaaa14008c9066',
    'question': "When did Beyonce leave Destiny's Child and become a solo singer?"},
   {'answers': [{'answer_start': 166, 'text': 'Houston, Texas'}],
    'id': '56bf6b0f3aeaaa14008c9601',
    'question': 'In what city and state did Beyonce  grow up? '},
   {'answers': [{'answer_start': 276, 'text': 'late 1990s'}],
    'id': '56bf6b0f3aeaaa14008c9602',
    'question': 'In which decade did Beyonce become famous?'},
   {'answers': [{'answer_start': 320, 'text': "Destiny's Child"}],
    'id': '56bf6b0f3aeaaa14008c9603',
    'question': 'In what R&B group was she the lead singer?'},
   {'answers': [{'answer_start': 505, 'text': 'Dangerously in Love'}],
    'id': '56bf6b0f3aeaaa14008c9604',
    'question': 'What album made her a worldwide known artist?'},
   {'answers': [{'answer_start': 360, 'text': 'Mathew Knowles'}],
    'id': '56bf6b0f3aeaaa14008c9605',
    'question': "Who managed the Destiny's Child group?"},
   {'answers': [{'answer_start': 166, 'text': 'Houston'}],
    'id': '56cef8faaab44d1400b88d67',
    'question': 'In what city did Beyonce grow up?'},
   {'answers': [{'answer_start': 505, 'text': 'Dangerously in Love'}],
    'id': '56cef8faaab44d1400b88d68',
    'question': "What was the name of Beyonce's first solo album?"},
   {'answers': [{'answer_start': 64, 'text': 'September 4, 1981'}],
    'id': '56cef8faaab44d1400b88d6a',
    'question': 'On what date was Beyonce born?'},
   {'answers': [{'answer_start': 0, 'text': 'Beyoncé Giselle Knowles-Carter'}],
    'id': '56cef8faaab44d1400b88d6b',
    'question': "What is Beyonce's full name?"},
   {'answers': [{'answer_start': 276, 'text': 'late 1990s'}],
    'id': '56d43c5f2ccc5a1400d830a9',
    'question': 'When did Beyoncé rise to fame?'},
   {'answers': [{'answer_start': 290, 'text': 'lead singer'}],
    'id': '56d43c5f2ccc5a1400d830aa',
    'question': "What role did Beyoncé have in Destiny's Child?"},
   {'answers': [{'answer_start': 505, 'text': 'Dangerously in Love'}],
    'id': '56d43c5f2ccc5a1400d830ab',
    'question': 'What was the first album Beyoncé released as a solo artist?'},
   {'answers': [{'answer_start': 526, 'text': '2003'}],
    'id': '56d43c5f2ccc5a1400d830ac',
    'question': 'When did Beyoncé release Dangerously in Love?'},
   {'answers': [{'answer_start': 590, 'text': 'five'}],
    'id': '56d43c5f2ccc5a1400d830ad',
    'question': 'How many Grammy awards did Beyoncé win for her first solo album?'},
   {'answers': [{'answer_start': 290, 'text': 'lead singer'}],
    'id': '56d43ce42ccc5a1400d830b4',
    'question': "What was Beyoncé's role in Destiny's Child?"},
   {'answers': [{'answer_start': 505, 'text': 'Dangerously in Love'}],
    'id': '56d43ce42ccc5a1400d830b5',
    'question': "What was the name of Beyoncé's first solo album?"},
   {'answers': [{'answer_start': 526, 'text': '2003'}],
    'id': '56d43ce42ccc5a1400d830b6',
    'question': 'When did Beyoncé release her first solo album?'}]},
 {'context': 'Following the disbandment of Destiny\'s Child in June 2005, she released her second solo album, B\'Day (2006), which contained hits "Déjà Vu", "Irreplaceable", and "Beautiful Liar". Beyoncé also ventured into acting, with a Golden Globe-nominated performance in Dreamgirls (2006), and starring roles in The Pink Panther (2006) and Obsessed (2009). Her marriage to rapper Jay Z and portrayal of Etta James in Cadillac Records (2008) influenced her third album, I Am... Sasha Fierce (2008), which saw the birth of her alter-ego Sasha Fierce and earned a record-setting six Grammy Awards in 2010, including Song of the Year for "Single Ladies (Put a Ring on It)". Beyoncé took a hiatus from music in 2010 and took over management of her career; her fourth album 4 (2011) was subsequently mellower in tone, exploring 1970s funk, 1980s pop, and 1990s soul. Her critically acclaimed fifth studio album, Beyoncé (2013), was distinguished from previous releases by its experimental production and exploration of darker themes.',
  'qas': [{'answers': [{'answer_start': 207, 'text': 'acting'}],
    'id': '56be86cf3aeaaa14008c9076',
    'question': 'After her second solo album, what other entertainment venture did Beyonce explore?'},
   {'answers': [{'answer_start': 369, 'text': 'Jay Z'}],
    'id': '56be86cf3aeaaa14008c9078',
    'question': 'Which artist did Beyonce marry?'},
   {'answers': [{'answer_start': 565, 'text': 'six'}],
    'id': '56be86cf3aeaaa14008c9079',
    'question': 'To set the record for Grammys, how many did Beyonce win?'},
   {'answers': [{'answer_start': 260, 'text': 'Dreamgirls'}],
    'id': '56bf6e823aeaaa14008c9627',
    'question': 'For what movie did Beyonce receive  her first Golden Globe nomination?'},
   {'answers': [{'answer_start': 586, 'text': '2010'}],
    'id': '56bf6e823aeaaa14008c9629',
    'question': 'When did Beyonce take a hiatus in her career and take control of her management?'},
   {'answers': [{'answer_start': 180, 'text': 'Beyoncé'}],
    'id': '56bf6e823aeaaa14008c962a',
    'question': 'Which album was darker in tone from her previous work?'},
   {'answers': [{'answer_start': 406, 'text': 'Cadillac Records'}],
    'id': '56bf6e823aeaaa14008c962b',
    'question': 'After what movie portraying Etta James, did Beyonce create Sasha Fierce?'},
   {'answers': [{'answer_start': 48, 'text': 'June 2005'}],
    'id': '56d43da72ccc5a1400d830bd',
    'question': "When did Destiny's Child end their group act?"},
   {'answers': [{'answer_start': 95, 'text': "B'Day"}],
    'id': '56d43da72ccc5a1400d830be',
    'question': "What was the name of Beyoncé's second solo album?"},
   {'answers': [{'answer_start': 260, 'text': 'Dreamgirls'}],
    'id': '56d43da72ccc5a1400d830bf',
    'question': "What was Beyoncé's first acting job, in 2006?"},
   {'answers': [{'answer_start': 369, 'text': 'Jay Z'}],
    'id': '56d43da72ccc5a1400d830c0',
    'question': 'Who is Beyoncé married to?'},
   {'answers': [{'answer_start': 466, 'text': 'Sasha Fierce'}],
    'id': '56d43da72ccc5a1400d830c1',
    'question': "What is the name of Beyoncé's alter-ego?"}]},
 {'context': 'A self-described "modern-day feminist", Beyoncé creates songs that are often characterized by themes of love, relationships, and monogamy, as well as female sexuality and empowerment. On stage, her dynamic, highly choreographed performances have led to critics hailing her as one of the best entertainers in contemporary popular music. Throughout a career spanning 19 years, she has sold over 118 million records as a solo artist, and a further 60 million with Destiny\'s Child, making her one of the best-selling music artists of all time. She has won 20 Grammy Awards and is the most nominated woman in the award\'s history. The Recording Industry Association of America recognized her as the Top Certified Artist in America during the 2000s decade. In 2009, Billboard named her the Top Radio Songs Artist of the Decade, the Top Female Artist of the 2000s and their Artist of the Millennium in 2011. Time listed her among the 100 most influential people in the world in 2013 and 2014. Forbes magazine also listed her as the most powerful female musician of 2015.',
  'qas': [{'answers': [{'answer_start': 104,
      'text': 'love, relationships, and monogamy'}],
    'id': '56be88473aeaaa14008c9080',
    'question': 'In her music, what are some recurring elements in them?'},
   {'answers': [{'answer_start': 935, 'text': 'influential'}],
    'id': '56be88473aeaaa14008c9083',
    'question': 'Time magazine named her one of the most 100 what people of the century?'},
   {'answers': [{'answer_start': 985, 'text': 'Forbes'}],
    'id': '56be88473aeaaa14008c9084',
    'question': 'Which magazine declared her the most dominant woman musician?'},
   {'answers': [{'answer_start': 736, 'text': '2000s'}],
    'id': '56bf725c3aeaaa14008c9643',
    'question': 'In which decade did the Recording Industry Association of America recognize Beyonce as the The Top Certified Artist?'},
   {'answers': [{'answer_start': 985, 'text': 'Forbes'}],
    'id': '56bf725c3aeaaa14008c9644',
    'question': 'What magazine rated Beyonce as the most powerful female musician in 2015?'},
   {'answers': [{'answer_start': 18, 'text': 'modern-day feminist'}],
    'id': '56bf725c3aeaaa14008c9645',
    'question': 'How did Beyonce describe herself as a feminist?'},
   {'answers': [{'answer_start': 970, 'text': '2013 and 2014'}],
    'id': '56bf725c3aeaaa14008c9646',
    'question': 'In which years did Time rate Beyonce in the 100 most influential people in the world?'},
   {'answers': [{'answer_start': 393, 'text': '118 million'}],
    'id': '56bf725c3aeaaa14008c9647',
    'question': 'How many records has Beyonce sold in her 19 year career?'},
   {'answers': [{'answer_start': 445, 'text': '60 million'}],
    'id': '56d43f7e2ccc5a1400d830c7',
    'question': "How many records did Beyoncé sell as part of Destiny's Child?"},
   {'answers': [{'answer_start': 393, 'text': '118 million'}],
    'id': '56d43f7e2ccc5a1400d830c8',
    'question': "After leaving Destiny's Child, how many records did Beyoncé release under her own name?"},
   {'answers': [{'answer_start': 552, 'text': '20'}],
    'id': '56d43f7e2ccc5a1400d830c9',
    'question': 'How many Grammy awards has Beyoncé won?'},
   {'answers': [{'answer_start': 985, 'text': 'Forbes'}],
    'id': '56d43f7e2ccc5a1400d830cb',
    'question': 'What magazine named Beyoncé as the most powerful female musician for 2015?'}]},
 {'context': 'Beyoncé Giselle Knowles was born in Houston, Texas, to Celestine Ann "Tina" Knowles (née Beyincé), a hairdresser and salon owner, and Mathew Knowles, a Xerox sales manager. Beyoncé\'s name is a tribute to her mother\'s maiden name. Beyoncé\'s younger sister Solange is also a singer and a former member of Destiny\'s Child. Mathew is African-American, while Tina is of Louisiana Creole descent (with African, Native American, French, Cajun, and distant Irish and Spanish ancestry). Through her mother, Beyoncé is a descendant of Acadian leader Joseph Broussard. She was raised in a Methodist household.',
  'qas': [{'answers': [{'answer_start': 303, 'text': "Destiny's Child"}],
    'id': '56be892d3aeaaa14008c908b',
    'question': "Beyonce's younger sibling also sang with her in what band?"},
   {'answers': [{'answer_start': 204, 'text': "her mother's maiden name"}],
    'id': '56be892d3aeaaa14008c908c',
    'question': 'Where did Beyonce get her name from?'},
   {'answers': [{'answer_start': 330, 'text': 'African-American'}],
    'id': '56be892d3aeaaa14008c908d',
    'question': "What race was Beyonce's father?"},
   {'answers': [{'answer_start': 578, 'text': 'Methodist'}],
    'id': '56be892d3aeaaa14008c908e',
    'question': "Beyonce's childhood home believed in what religion?"},
   {'answers': [{'answer_start': 152, 'text': 'Xerox'}],
    'id': '56bf74d53aeaaa14008c9659',
    'question': "Beyonce's father worked as a sales manager for what company?"},
   {'answers': [{'answer_start': 101, 'text': 'hairdresser and salon owner'}],
    'id': '56bf74d53aeaaa14008c965a',
    'question': "Beyonce's mother worked in what industry?"},
   {'answers': [{'answer_start': 255, 'text': 'Solange'}],
    'id': '56bf74d53aeaaa14008c965b',
    'question': "What younger sister of Beyonce also appeared in Destiny's Child?"},
   {'answers': [{'answer_start': 540, 'text': 'Joseph Broussard'}],
    'id': '56bf74d53aeaaa14008c965d',
    'question': 'Beyonce is a descendent of what Arcadian leader?'},
   {'answers': [{'answer_start': 152, 'text': 'Xerox'}],
    'id': '56d440df2ccc5a1400d830d1',
    'question': "What company did Beyoncé's father work for when she was a child?"},
   {'answers': [{'answer_start': 117, 'text': 'salon'}],
    'id': '56d440df2ccc5a1400d830d2',
    'question': "What did Beyoncé's mother own when Beyoncé was a child?"},
   {'answers': [{'answer_start': 255, 'text': 'Solange'}],
    'id': '56d440df2ccc5a1400d830d3',
    'question': "What is the name of Beyoncé's younger sister?"},
   {'answers': [{'answer_start': 540, 'text': 'Joseph Broussard.'}],
    'id': '56d440df2ccc5a1400d830d4',
    'question': 'Beyoncé is a descendant of which Acadian leader?'},
   {'answers': [{'answer_start': 578, 'text': 'Methodist'}],
    'id': '56d440df2ccc5a1400d830d5',
    'question': 'Beyoncé was raised in what religion?'}]},
 {'context': 'Beyoncé attended St. Mary\'s Elementary School in Fredericksburg, Texas, where she enrolled in dance classes. Her singing talent was discovered when dance instructor Darlette Johnson began humming a song and she finished it, able to hit the high-pitched notes. Beyoncé\'s interest in music and performing continued after winning a school talent show at age seven, singing John Lennon\'s "Imagine" to beat 15/16-year-olds. In fall of 1990, Beyoncé enrolled in Parker Elementary School, a music magnet school in Houston, where she would perform with the school\'s choir. She also attended the High School for the Performing and Visual Arts and later Alief Elsik High School. Beyoncé was also a member of the choir at St. John\'s United Methodist Church as a soloist for two years.',
  'qas': [{'answers': [{'answer_start': 49, 'text': 'Fredericksburg'}],
    'id': '56be8a583aeaaa14008c9094',
    'question': 'What town did Beyonce go to school in?'},
   {'answers': [{'answer_start': 165, 'text': 'Darlette Johnson'}],
    'id': '56be8a583aeaaa14008c9095',
    'question': "Who was the first person to notice Beyonce's singing ability?"},
   {'answers': [{'answer_start': 507, 'text': 'Houston'}],
    'id': '56be8a583aeaaa14008c9097',
    'question': 'Beyonce moved to which town after she left her first elementary school?'},
   {'answers': [{'answer_start': 148,
      'text': 'dance instructor Darlette Johnson'}],
    'id': '56bf76ef3aeaaa14008c9664',
    'question': "Which of her teachers discovered Beyonce's musical talent?"},
   {'answers': [{'answer_start': 711,
      'text': "St. John's United Methodist Church"}],
    'id': '56bf76ef3aeaaa14008c9665',
    'question': 'I which church was Beyonce  a member and soloist  in the choir?'},
   {'answers': [{'answer_start': 484, 'text': 'music magnet school'}],
    'id': '56bf76ef3aeaaa14008c9666',
    'question': 'What type of school was Parker Elementary School?'},
   {'answers': [{'answer_start': 385, 'text': 'Imagine'}],
    'id': '56bf76ef3aeaaa14008c9667',
    'question': 'Which song did Beyonce sing to win a competition at age 7?'},
   {'answers': [{'answer_start': 49, 'text': 'Fredericksburg'}],
    'id': '56d443ef2ccc5a1400d830db',
    'question': "What city was Beyoncé's elementary school located in?"},
   {'answers': [{'answer_start': 165, 'text': 'Darlette Johnson'}],
    'id': '56d443ef2ccc5a1400d830dc',
    'question': "What was the name of Beyoncé's first dance instructor?"},
   {'answers': [{'answer_start': 355, 'text': 'seven'}],
    'id': '56d443ef2ccc5a1400d830dd',
    'question': 'How old was Beyoncé when she won a school talent show?'},
   {'answers': [{'answer_start': 711,
      'text': "St. John's United Methodist Church"}],
    'id': '56d443ef2ccc5a1400d830df',
    'question': 'What choir did Beyoncé sing in for two years?'}]},
 {'context': "At age eight, Beyoncé and childhood friend Kelly Rowland met LaTavia Roberson while in an audition for an all-girl entertainment group. They were placed into a group with three other girls as Girl's Tyme, and rapped and danced on the talent show circuit in Houston. After seeing the group, R&B producer Arne Frager brought them to his Northern California studio and placed them in Star Search, the largest talent show on national TV at the time. Girl's Tyme failed to win, and Beyoncé later said the song they performed was not good. In 1995 Beyoncé's father resigned from his job to manage the group. The move reduced Beyoncé's family's income by half, and her parents were forced to move into separated apartments. Mathew cut the original line-up to four and the group continued performing as an opening act for other established R&B girl groups. The girls auditioned before record labels and were finally signed to Elektra Records, moving to Atlanta Records briefly to work on their first recording, only to be cut by the company. This put further strain on the family, and Beyoncé's parents separated. On October 5, 1995, Dwayne Wiggins's Grass Roots Entertainment signed the group. In 1996, the girls began recording their debut album under an agreement with Sony Music, the Knowles family reunited, and shortly after, the group got a contract with Columbia Records.",
  'qas': [{'answers': [{'answer_start': 303, 'text': 'Arne Frager'}],
    'id': '56be8bab3aeaaa14008c909f',
    'question': "Who decided to place Beyonce's group in Star Search the talent show?"},
   {'answers': [{'answer_start': 542, 'text': "Beyoncé's father"}],
    'id': '56be8bab3aeaaa14008c90a0',
    'question': 'In 1995, who decided to manage the girls singing group?'},
   {'answers': [{'answer_start': 918, 'text': 'Elektra Records'}],
    'id': '56be8bab3aeaaa14008c90a1',
    'question': 'Who was the first record label to give the girls a record deal?'},
   {'answers': [{'answer_start': 303, 'text': 'Arne Frager'}],
    'id': '56bf79c73aeaaa14008c966d',
    'question': 'Who brought Beyonce to California and enter her group in Star Search?'},
   {'answers': [{'answer_start': 537, 'text': '1995'}],
    'id': '56bf79c73aeaaa14008c966e',
    'question': "In what year did Beyonce's father quit his job to manage her group?"},
   {'answers': [{'answer_start': 1264, 'text': 'Sony Music'}],
    'id': '56bf79c73aeaaa14008c966f',
    'question': "What large record company recorded Beyonce's group's first album?"},
   {'answers': [{'answer_start': 918, 'text': 'Elektra Records'}],
    'id': '56bf79c73aeaaa14008c9670',
    'question': "What record company first signed Beyonce's group and later cut them?"},
   {'answers': [{'answer_start': 3, 'text': 'age eight'}],
    'id': '56bf79c73aeaaa14008c9671',
    'question': 'At what age did Beyonce meet LaTavia Robertson?'},
   {'answers': [{'answer_start': 7, 'text': 'eight'}],
    'id': '56d45abf2ccc5a1400d830e5',
    'question': 'How old was Beyoncé when she met LaTavia Roberson?'},
   {'answers': [{'answer_start': 192, 'text': "Girl's Tyme"}],
    'id': '56d45abf2ccc5a1400d830e6',
    'question': 'What was the name of the first group Beyoncé was a part of?'},
   {'answers': [{'answer_start': 303, 'text': 'Arne Frager'}],
    'id': '56d45abf2ccc5a1400d830e7',
    'question': "Who placed Girl's Tyme in Star Search?"},
   {'answers': [{'answer_start': 537, 'text': '1995'}],
    'id': '56d45abf2ccc5a1400d830e8',
    'question': 'When did Beyoncé begin to manage the girl group?'},
   {'answers': [{'answer_start': 1126,
      'text': "Dwayne Wiggins's Grass Roots Entertainment"}],
    'id': '56d45abf2ccc5a1400d830e9',

In [420]:
co_occ_matrix = np.zeros((len(row_list), len(column_list)), dtype = int)
co_occ_matrix

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

### sample for a single context

In [421]:
paragraph_pointer = sqd_data.data[1]['paragraphs'] 

#print(i, " ", len(paragraph_pointer))
#for j in range(len(paragraph_pointer)):#no of paragraphs in a row of the df
processed_sen_list, process_sen_tokenized_list = preprocess_text(paragraph_pointer[0]['context']) 
processed_que_list = preprocess_question(paragraph_pointer[0]['qas'])
print(processed_que_list)
print()
print(processed_sen_list)
question_mapping = question_type(processed_que_list)
print()
print(question_mapping)
que_type_extract = question_type_extractor(question_mapping)
print()
print(que_type_extract)
que_sen, ans_sen = wmd_que_ans_pair(processed_que_list, processed_sen_list)
#print(wmd_dat)
#         print(que_sen)
#         print()
#         print(ans_sen)
que_sen_map, ans_sen_map = que_ner_ans_ner(que_sen, ans_sen)
que_no_quetag_df, que_no_anstag_df = que_df_ans_df(que_sen_map, ans_sen_map)

for i in range(len(que_type_extract)):

    question_words = que_no_quetag_df[que_no_quetag_df['QuestionNo']== i]['QuestionTag'].tolist() + [que_type_extract[i]]
    ans_words = que_no_anstag_df[que_no_anstag_df['QuestionNo']==i]['AnswerTag'].tolist()
    combo = que_ans_combo_(question_words, ans_words)

    for i, v1 in enumerate(row_list):
        for j, v2 in enumerate(column_list):
            for k in combo:
                if [v1, v2] == k:
                    co_occ_matrix[i, j]+=1

['When did Beyonce start becoming popular?', 'What areas did Beyonce compete in When she was growing up?', "When did Beyonce leave Destiny's Child and become a solo singer?", 'In What city and state did Beyonce  grow up? ', 'In Which decade did Beyonce become famous?', 'In What R&B group was she the lead singer?', 'What album made her a worldwide known artist?', "Who managed the Destiny's Child group?", 'In What city did Beyonce grow up?', "What was the name of Beyonce's first solo album?", 'On What date was Beyonce born?', "What is Beyonce's full name?", 'When did Beyonce rise to fame?', "What role did Beyonce have in Destiny's Child?", 'What was the first album Beyonce released as a solo artist?', 'When did Beyonce release Dangerously in Love?', 'How many Grammy awards did Beyonce win for her first solo album?', "What was Beyonce's role in Destiny's Child?", "What was the name of Beyonce's first solo album?", 'When did Beyonce release her first solo album?']

['Beyonce Giselle Knowles-Carter (/bijnse/ bee-YON-say) (born September 4, 1981) is an American singer, songwriter, record producer and actress.', "Born and raised in Houston, Texas, she performed in various singing and dancing competitions as a child, and rose to fame in the late 1990s as lead singer of R&B girl-group Destiny's Child.", "Managed by her father, Mathew Knowles, the group became one of the world's best-selling girl groups of all time.", 'Their hiatus saw the release of Beyonce\'s debut album, Dangerously in Love (2003), which established her as a solo artist worldwide, earned five Grammy Awards and featured the Billboard Hot 100 number-one singles "Crazy in Love" and "Baby Boy".']

['When did', 'What areas', 'When she', 'When did', 'What city', 'Which decade', 'What R', 'What album', 'Who managed', 'What city', 'What was', 'What date', 'What is', 'When did', 'What role', 'What was', 'When did', 'How many', 'What was', 'What was', 'When did']

['When', 'What', 'When', 'When', 'What', 'Which', 'What', 'What', 'Who', 'What', 'What', 'What', 'What', 'When', 'What', 'What', 'When', 'How many', 'What', 'What', 'When']

In [405]:
paragraph_pointer = sqd_data.data[1]['paragraphs'] 

#print(i, " ", len(paragraph_pointer))
for j in range(len(paragraph_pointer)):#no of paragraphs in a row of the df
    processed_sen_list, process_sen_tokenized_list = preprocess_text(paragraph_pointer[j]['context']) 
    processed_que_list = preprocess_question(paragraph_pointer[j]['qas'])
    question_mapping = question_type(processed_que_list)
    que_type_extract = question_type_extractor(question_mapping)
    #print(que_type_extract)
    que_sen, ans_sen = wmd_que_ans_pair(processed_que_list, processed_sen_list)
    #print(wmd_dat)
#         print(que_sen)
#         print()
#         print(ans_sen)
    que_sen_map, ans_sen_map = que_ner_ans_ner(que_sen, ans_sen)
    que_no_quetag_df, que_no_anstag_df = que_df_ans_df(que_sen_map, ans_sen_map)

    for i in range(len(que_type_extract)):

        question_words = que_no_quetag_df[que_no_quetag_df['QuestionNo']== i]['QuestionTag'].tolist() + [que_type_extract[i]]
        ans_words = que_no_anstag_df[que_no_anstag_df['QuestionNo']==i]['AnswerTag'].tolist()
        combo = que_ans_combo_(question_words, ans_words)

        for i, v1 in enumerate(row_list):
            for j, v2 in enumerate(column_list):
                for k in combo:
                    if [v1, v2] == k:
                        co_occ_matrix[i, j]+=1

In [422]:
co_occ_matrix_df['Tags'] = co_occ_matrix_df.index

In [423]:
co_occ_matrix_df = pd.DataFrame(co_occ_matrix, index = row_list, columns= column_list)
co_occ_matrix_df

,PERSON,NORP,FAC,LOC,PRODUCT,EVENT,WORK_OF_ART,LANGUAGE,DATE,TIME,PERCENT,MONEY,ORDINAL,CARDINAL,GPE,ORG
How many,1,0,0,0,0,0,2,0,1,0,0,0,0,3,1,1
How much,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
What,11,0,0,0,0,0,14,0,8,0,0,0,0,25,9,8
When,3,0,0,0,0,0,6,0,5,0,0,0,0,9,7,5
Where,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Who,0,0,0,0,0,0,0,0,1,0,0,0,0,0,2,1
Which,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
Whom,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PERSON,3,0,0,0,0,0,4,0,3,0,0,0,0,7,4,3
NORP,1,0,0,0,0,0,2,0,1,0,0,0,0,3,1,1
FAC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
LOC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PRODUCT,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
EVENT,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
WORK_OF_ART,4,0,0,0,0,0,8,0,4,0,0,0,0,12,4,4
LANGUAGE,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
DATE,1,0,0,0,0,0,2,0,1,0,0,0,0,3,1,1
TIME,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PERCENT,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
MONEY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ORDINAL,4,0,0,0,0,0,2,0,1,0,0,0,0,6,1,1
CARDINAL,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
GPE,2,0,0,0,0,0,2,0,2,0,0,0,0,4,3,2
ORG,1,0,0,0,0,0,0,0,1,0,0,0,0,1,2,1

In [401]:
#heatmap
melt_co_occ_matrix_df = pd.melt(co_occ_matrix_df,id_vars = ['Tags'])
melt_co_occ_matrix_df.head()


import plotly.plotly as py
import plotly.graph_objs as go

trace = go.Heatmap(z=melt_co_occ_matrix_df['value'],
                  x=melt_co_occ_matrix_df['Tags'] ,
                  y=melt_co_occ_matrix_df['variable'])
data=[trace]
py.iplot(data)

In [463]:
context = sqd_data.data[0]['paragraphs'][0]['context'] 
context = unicodedata.normalize('NFKD', context).encode('ascii','ignore').decode('utf-8')
#print(context)
#sentence_tokeniztion
senttokenized_context = sent_tokenize(context)
sentencelist = []
for sent_token in senttokenized_context:
    sentencelist.append(sent_token) 

sentence_list = []
lemmatizer = WordNetLemmatizer()


for i in sentencelist:
    words = nltk.word_tokenize(i)
    words = ([x.lower() for x in words])
    words = ([x for x in words if x not in delelements_list])
    words = [lemmatizer.lemmatize(x) for x in words]
    words = [s.encode('ascii').decode('utf-8') for s in words]
    sentence_list.append(words)
#####################

print(sentencelist[0])

Architecturally, the school has a Catholic character.

In [441]:
question_list = []
for i in range(len(sqd_data.data[2]['paragraphs'][0]['qas'] )):
    l1 = sqd_data.data[2]['paragraphs'][0]['qas'][i]['question']
   
    l1 = unicodedata.normalize('NFKD', l1).encode('ascii','ignore').decode('utf-8')
    l1_token = nltk.word_tokenize(l1)
    if l1_token[-1] == '?':
        question_list.append(l1)
    
#print(question_list)    
    

    #print(question_list)
   # print()
#Appropriate question type replacement
#Question_list = []
for i in range(len(question_list)):
    Question_list.append(replace_all({"how": "How", "when": "When","what": "What","whom": "Whom","which": "Which"}, question_list[i]))
print(Question_list)

['To Whom did the Virgin Mary allegedly appear in 1858 in Lourdes France?', 'What is in front of the Notre Dame Main Building?', 'The Basilica of the Sacred heart at Notre Dame is beside to Which structure?', 'What is the Grotto at Notre Dame?', 'What sits on top of the Main Building at Notre Dame?', 'To Whom did the Virgin Mary allegedly appear in 1858 in Lourdes France?', 'What is in front of the Notre Dame Main Building?', 'The Basilica of the Sacred heart at Notre Dame is beside to Which structure?', 'What is the Grotto at Notre Dame?', 'What sits on top of the Main Building at Notre Dame?', 'To Whom did the Virgin Mary allegedly appear in 1858 in Lourdes France?', 'What is in front of the Notre Dame Main Building?', 'The Basilica of the Sacred heart at Notre Dame is beside to Which structure?', 'What is the Grotto at Notre Dame?', 'What sits on top of the Main Building at Notre Dame?', "Where does the state's name come from?", 'What is the states rank in size?', 'What is its rank in popularion?', 'How many ranges are part of the Rocky Mountains?', "Where does the state's name come from?"]

In [442]:
Question_list

['To Whom did the Virgin Mary allegedly appear in 1858 in Lourdes France?',
 'What is in front of the Notre Dame Main Building?',
 'The Basilica of the Sacred heart at Notre Dame is beside to Which structure?',
 'What is the Grotto at Notre Dame?',
 'What sits on top of the Main Building at Notre Dame?',
 'To Whom did the Virgin Mary allegedly appear in 1858 in Lourdes France?',
 'What is in front of the Notre Dame Main Building?',
 'The Basilica of the Sacred heart at Notre Dame is beside to Which structure?',
 'What is the Grotto at Notre Dame?',
 'What sits on top of the Main Building at Notre Dame?',
 'To Whom did the Virgin Mary allegedly appear in 1858 in Lourdes France?',
 'What is in front of the Notre Dame Main Building?',
 'The Basilica of the Sacred heart at Notre Dame is beside to Which structure?',
 'What is the Grotto at Notre Dame?',
 'What sits on top of the Main Building at Notre Dame?',
 "Where does the state's name come from?",
 'What is the states rank in size?',
 'What is its rank in popularion?',
 'How many ranges are part of the Rocky Mountains?',
 "Where does the state's name come from?"]

In [161]:
w = ['To Whom did the Virgin Mary allegedly appear in 1858 in Lourdes France?',
     'What is in front of the Notre Dame Main Building?',
     'The Basilica of the Sacred heart at Notre Dame is beside to Which structure?',
     'What is the Grotto at Notre Dame?',
     'The sits on top of the Main Building at Notre Dame is Whom?']
w

['To Whom did the Virgin Mary allegedly appear in 1858 in Lourdes France?',
 'What is in front of the Notre Dame Main Building?',
 'The Basilica of the Sacred heart at Notre Dame is beside to Which structure?',
 'What is the Grotto at Notre Dame?',
 'The sits on top of the Main Building at Notre Dame is Whom?']

In [362]:
w #a sample list tht i gave

['To Whom did the Virgin Mary allegedly appear in 1858 in Lourdes France?',
 'What is in front of the Notre Dame Main Building?',
 'The Basilica of the Sacred heart at Notre Dame is beside to Which structure?',
 'What is the Grotto at Notre Dame?',
 'The sits on top of the Main Building at Notre Dame is Whom?',
 'They said it will be fine but Why',
 'Why is she name d that way',
 'What /dshdgh she does / get from her?',
 'Why is it done??']

In [363]:
question_mapping = []
for i in range(len(w)):
    l2 = nltk.word_tokenize(w[i])
    print(len(l2))
    #print(l2)
    missed = l2[-1]
    
    if missed == '?':
        for j in range(len(l2)):


            if l2[j] in qtntype_list:
                combine_list = l2[j]+" "+l2[j+1]
                question_mapping.append(combine_list)

    else:

         for k in range(len(l2)):#8

            if k < len(l2)-1:  #7        

                if l2[k] in qtntype_list:
                    combine_list = l2[k]+" "+l2[k+1]
                    question_mapping.append(combine_list) 
            else:

                    if l2[k] in qtntype_list:
                        combine_list = l2[k]+" "+'abc'
                        question_mapping.append(combine_list)
print(question_mapping)

14
11
15
8
14
8
7
9
6
['Whom did', 'What is', 'Which structure', 'What is', 'Whom ?', 'Why abc', 'Why is', 'What /dshdgh', 'Why is']

In [511]:
def ans_mapping_fun(ans_list):
    
    for i in range(len(ans_list)):
        l1 = ' '.join(ans_list[i])
        answers.append(l1)
    print(answers)

    for i in range(len(answers)):
        doc = nlp(answers[i])
        for ent in doc.ents:
            ans_mapping.append(ent.label_)  
            ans_word.append(ent.text)
    return ans_mapping, ans_word
    #print(ans_word)
    #print(ans_mapping)

## Functions used:

In [10]:
def replace_all(repls, str):
   # return re.sub('|'.join(repls.keys()), lambda k: repls[k.group(0)], str)                                    
   return re.sub('|'.join(re.escape(key) for key in repls.keys()),
                 lambda k: repls[k.group(0)], str)

In [11]:
def preprocess_question(para_question):
    question_list = []
    for i in range(len(para_question)):
        l1 = para_question[i]['question']
        l1 = unicodedata.normalize('NFKD', l1).encode('ascii','ignore').decode('utf-8')
        question_list.append(l1)
    
    #Appropriate question type replacement
    Question_list = []
    for i in range(len(question_list)):
        Question_list.append(replace_all({"how": "How", "when": "When","what": "What","whom": "Whom","which": "Which", "where": "Where" }, question_list[i]))
        
    return Question_list

In [13]:
def preprocess_text(para_context):

    context = unicodedata.normalize('NFKD', para_context).encode('ascii','ignore').decode('utf-8')
    #print(context)
    #sentence_tokeniztion
    senttokenized_context = sent_tokenize(context)
    sentencelist = []
    for sent_token in senttokenized_context:
        sentencelist.append(sent_token) 
    
    sentence_list = []
    lemmatizer = WordNetLemmatizer()


    for i in sentencelist:
        words = nltk.word_tokenize(i)
        words = ([x.lower() for x in words])
        words = ([x for x in words if x not in delelements_list])
        words = [lemmatizer.lemmatize(x) for x in words]
        words = [[s.encode('ascii').decode('utf-8') for s in words]]
        sentence_list.append(words)
    return sentencelist, sentence_list

In [12]:
def question_type_extractor(question_mapping):
    Question_mapping = []
    for i in range(len(question_mapping)):
        if question_mapping[i] != 'How many' and question_mapping[i] != 'How much':
            Question_mapping.append(question_mapping[i].split()[0])
        else:
             Question_mapping.append(question_mapping[i])
    return Question_mapping

In [14]:
def wmd_que_ans_pair(que_list, sen_list):
    wmd_matrix = np.zeros([len(que_list),len(sen_list)]) 
    for i in range(len(que_list)):
        for j in range(len(sen_list)):
            wmd_matrix[i,j] =  word2vec_model.wmdistance(que_list[i],sen_list[j])  
    wmd_df = pd.DataFrame(wmd_matrix)
    wmd_df['sentence'] = wmd_df.T.idxmin()
    wmd_df['qnno'] = wmd_df.index
    que_no_ans_sen_no = []
    for i in range(len(wmd_df)):
        que_no_ans_sen_no.append([wmd_df['qnno'][i], wmd_df['sentence'][i]])
    qn_sentence = []
    for i in range(len(que_no_ans_sen_no)):
        if que_no_ans_sen_no[i][0] == que_list.index(que_list[i]):
            qn_sentence.append(que_list[i])
    an_sentence = []
    for i in range(len(que_no_ans_sen_no)):
        for j in range(len(sen_list)):
            if que_no_ans_sen_no[i][1] == sen_list.index(sen_list[j]):
                an_sentence.append(sen_list[j]) 
    return qn_sentence, an_sentence

In [15]:
def que_ner_ans_ner(que_sentence, ans_sentence):
    ans_sentence_mapping = []
    for i in range(len(ans_sentence)):
        doc_ans = nlp(ans_sentence[i])
        for ent in doc_ans.ents:
            ans_sentence_mapping.append([i,ent.label_])

    que_sentence_mapping = []
    for i in range(len(que_sentence)):
        doc_que = nlp(que_sentence[i])
        for ent in doc_que.ents:
            que_sentence_mapping.append([i,ent.label_])
    return que_sentence_mapping, ans_sentence_mapping

In [16]:
def que_df_ans_df(que_sen_map, ans_sen_map):
    qno_anstag_df = pd.DataFrame(ans_sen_map,columns = ['QuestionNo','AnswerTag'])
    qno_quetag_df = pd.DataFrame(que_sen_map, columns = ['QuestionNo', 'QuestionTag'])
    return qno_quetag_df, qno_anstag_df

In [17]:
def que_ans_combo_(questionword, answerword):
    ques_ans_combo = []
    for i in range(len(questionword)):
        for j in range(len(answerword)):
            ques_ans_combo.append([questionword[i],answerword[j]])
    return(ques_ans_combo)

In [18]:
def question_type(process_que_list):
    question_mapping = [] 
    for i in range(len(process_que_list)):
        l2 = nltk.word_tokenize(process_que_list[i])
        #print(len(l2))
        #print(l2)
        missed = l2[-1]        
        if missed == '?':
            for j in range(len(l2)):


                if l2[j] in qtntype_list:
                    combine_list = l2[j]+" "+l2[j+1]
                    question_mapping.append(combine_list)

        else:

             for k in range(len(l2)):#8

                if k < len(l2)-1:  #7        

                    if l2[k] in qtntype_list:
                        combine_list = l2[k]+" "+l2[k+1]
                        question_mapping.append(combine_list) 
                else:

                        if l2[k] in qtntype_list:
                            combine_list = l2[k]+" "+'abc'
                            question_mapping.append(combine_list) 
    return question_mapping

In [428]:
que_list = ['When did Beyonce start becoming popular?',
             'What areas did Beyonce compete in when she was growing up?',
             "When did Beyonce leave Destiny's Child and become a solo singer?",
             'In what city and state did Beyonce  grow up? ',
             'In which decade did Beyonce become famous?',
             'In what R&B group was she the lead singer?',
             'What album made her a worldwide known artist?',
             "Who managed the Destiny's Child group?",
             'In what city did Beyonce grow up?',
             "What was the name of Beyonce's first solo album?",
             'On what date was Beyonce born?',
             "What is Beyonce's full name?",
             'When did Beyonce rise to fame?',
             "What role did Beyonce have in Destiny's Child?",
             'What was the first album Beyonce released as a solo artist?',
             'When did Beyonce release Dangerously in Love?',
             'How many Grammy awards did Beyonce win for her first solo album?',
             "What was Beyonce's role in Destiny's Child?",
             "What was the name of Beyonce's first solo album?",
             'When did Beyonce release her first solo album?']

In [429]:
sen_list = ['Beyonce Giselle Knowles-Carter (/bijnse/ bee-YON-say) (born September 4, 1981) is an American singer, songwriter, record producer and actress.',
             "Born and raised in Houston, Texas, she performed in various singing and dancing competitions as a child, and rose to fame in the late 1990s as lead singer of R&B girl-group Destiny's Child.",
             "Managed by her father, Mathew Knowles, the group became one of the world's best-selling girl groups of all time.",
             'Their hiatus saw the release of Beyonce\'s debut album, Dangerously in Love (2003), which established her as a solo artist worldwide, earned five Grammy Awards and featured the Billboard Hot 100 number-one singles "Crazy in Love" and "Baby Boy".']

In [360]:
w

['To Whom did the Virgin Mary allegedly appear in 1858 in Lourdes France?',
 'What is in front of the Notre Dame Main Building?',
 'The Basilica of the Sacred heart at Notre Dame is beside to Which structure?',
 'What is the Grotto at Notre Dame?',
 'The sits on top of the Main Building at Notre Dame is Whom?',
 'They said it will be fine but Why',
 'Why is she name d that way',
 'What /dshdgh she does / get from her?',
 'Why is it done??']

In [394]:
question_type(w) #sample check for the function

['Whom did',
 'What is',
 'Which structure',
 'What is',
 'Whom ?',
 'Why abc',
 'Why is',
 'What /dshdgh',
 'Why is']

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

##### Considering one matter from SQuAD data set - (Zeroth matter) #####

In [35]:
matter = sqd_data.data[1]['paragraphs'][0] 
matter

{'context': 'Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ bee-YON-say) (born September 4, 1981) is an American singer, songwriter, record producer and actress. Born and raised in Houston, Texas, she performed in various singing and dancing competitions as a child, and rose to fame in the late 1990s as lead singer of R&B girl-group Destiny\'s Child. Managed by her father, Mathew Knowles, the group became one of the world\'s best-selling girl groups of all time. Their hiatus saw the release of Beyoncé\'s debut album, Dangerously in Love (2003), which established her as a solo artist worldwide, earned five Grammy Awards and featured the Billboard Hot 100 number-one singles "Crazy in Love" and "Baby Boy".',
 'qas': [{'answers': [{'answer_start': 269, 'text': 'in the late 1990s'}],
   'id': '56be85543aeaaa14008c9063',
   'question': 'When did Beyonce start becoming popular?'},
  {'answers': [{'answer_start': 207, 'text': 'singing and dancing'}],
   'id': '56be85543aeaaa14008c9065',
   'question': 'What areas did Beyonce compete in when she was growing up?'},
  {'answers': [{'answer_start': 526, 'text': '2003'}],
   'id': '56be85543aeaaa14008c9066',
   'question': "When did Beyonce leave Destiny's Child and become a solo singer?"},
  {'answers': [{'answer_start': 166, 'text': 'Houston, Texas'}],
   'id': '56bf6b0f3aeaaa14008c9601',
   'question': 'In what city and state did Beyonce  grow up? '},
  {'answers': [{'answer_start': 276, 'text': 'late 1990s'}],
   'id': '56bf6b0f3aeaaa14008c9602',
   'question': 'In which decade did Beyonce become famous?'},
  {'answers': [{'answer_start': 320, 'text': "Destiny's Child"}],
   'id': '56bf6b0f3aeaaa14008c9603',
   'question': 'In what R&B group was she the lead singer?'},
  {'answers': [{'answer_start': 505, 'text': 'Dangerously in Love'}],
   'id': '56bf6b0f3aeaaa14008c9604',
   'question': 'What album made her a worldwide known artist?'},
  {'answers': [{'answer_start': 360, 'text': 'Mathew Knowles'}],
   'id': '56bf6b0f3aeaaa14008c9605',
   'question': "Who managed the Destiny's Child group?"},
  {'answers': [{'answer_start': 166, 'text': 'Houston'}],
   'id': '56cef8faaab44d1400b88d67',
   'question': 'In what city did Beyonce grow up?'},
  {'answers': [{'answer_start': 505, 'text': 'Dangerously in Love'}],
   'id': '56cef8faaab44d1400b88d68',
   'question': "What was the name of Beyonce's first solo album?"},
  {'answers': [{'answer_start': 64, 'text': 'September 4, 1981'}],
   'id': '56cef8faaab44d1400b88d6a',
   'question': 'On what date was Beyonce born?'},
  {'answers': [{'answer_start': 0, 'text': 'Beyoncé Giselle Knowles-Carter'}],
   'id': '56cef8faaab44d1400b88d6b',
   'question': "What is Beyonce's full name?"},
  {'answers': [{'answer_start': 276, 'text': 'late 1990s'}],
   'id': '56d43c5f2ccc5a1400d830a9',
   'question': 'When did Beyoncé rise to fame?'},
  {'answers': [{'answer_start': 290, 'text': 'lead singer'}],
   'id': '56d43c5f2ccc5a1400d830aa',
   'question': "What role did Beyoncé have in Destiny's Child?"},
  {'answers': [{'answer_start': 505, 'text': 'Dangerously in Love'}],
   'id': '56d43c5f2ccc5a1400d830ab',
   'question': 'What was the first album Beyoncé released as a solo artist?'},
  {'answers': [{'answer_start': 526, 'text': '2003'}],
   'id': '56d43c5f2ccc5a1400d830ac',
   'question': 'When did Beyoncé release Dangerously in Love?'},
  {'answers': [{'answer_start': 590, 'text': 'five'}],
   'id': '56d43c5f2ccc5a1400d830ad',
   'question': 'How many Grammy awards did Beyoncé win for her first solo album?'},
  {'answers': [{'answer_start': 290, 'text': 'lead singer'}],
   'id': '56d43ce42ccc5a1400d830b4',
   'question': "What was Beyoncé's role in Destiny's Child?"},
  {'answers': [{'answer_start': 505, 'text': 'Dangerously in Love'}],
   'id': '56d43ce42ccc5a1400d830b5',
   'question': "What was the name of Beyoncé's first solo album?"},
  {'answers': [{'answer_start': 526, 'text': '2003'}],
   'id': '56d43ce42ccc5a1400d830b6',
   'question': 'When did Beyoncé release her first solo album?'}]}

#################################################################################

##### Extraction of  context #####

##########################################################################33

In [139]:
len(sqd_data.data[1]['paragraphs'])

66

In [140]:
context = sqd_data.data[1]['paragraphs'][0]['context'] 
context = unicodedata.normalize('NFKD', context).encode('ascii','ignore').decode('utf-8')
context

'Beyonce Giselle Knowles-Carter (/bijnse/ bee-YON-say) (born September 4, 1981) is an American singer, songwriter, record producer and actress. Born and raised in Houston, Texas, she performed in various singing and dancing competitions as a child, and rose to fame in the late 1990s as lead singer of R&B girl-group Destiny\'s Child. Managed by her father, Mathew Knowles, the group became one of the world\'s best-selling girl groups of all time. Their hiatus saw the release of Beyonce\'s debut album, Dangerously in Love (2003), which established her as a solo artist worldwide, earned five Grammy Awards and featured the Billboard Hot 100 number-one singles "Crazy in Love" and "Baby Boy".'

##### Context pre processing #####

###### Sentence tokenization of the context #####

In [141]:
senttokenized_context = sent_tokenize(context)
sentencelist = []
for i in senttokenized_context:
      sentencelist.append(i)

In [142]:
senttokenized_context

['Beyonce Giselle Knowles-Carter (/bijnse/ bee-YON-say) (born September 4, 1981) is an American singer, songwriter, record producer and actress.',
 "Born and raised in Houston, Texas, she performed in various singing and dancing competitions as a child, and rose to fame in the late 1990s as lead singer of R&B girl-group Destiny's Child.",
 "Managed by her father, Mathew Knowles, the group became one of the world's best-selling girl groups of all time.",
 'Their hiatus saw the release of Beyonce\'s debut album, Dangerously in Love (2003), which established her as a solo artist worldwide, earned five Grammy Awards and featured the Billboard Hot 100 number-one singles "Crazy in Love" and "Baby Boy".']

##### Word tokenization, Lemmatisation, stop word removal #####

In [198]:
sentence_list = []
lemmatizer = WordNetLemmatizer()


for i in sentencelist:
    words = nltk.word_tokenize(i)
    words = ([x.lower() for x in words])
    words = ([x for x in words if x not in delelements_list])
    words = [lemmatizer.lemmatize(x) for x in words]
    words = [[s.encode('ascii').decode('utf-8') for s in words]]
    sentence_list.append(words)

In [199]:
sentence_list

[[['beyonce',
   'giselle',
   'knowles-carter',
   '/bijnse/',
   'bee-yon-say',
   'born',
   'september',
   '4',
   '1981',
   'american',
   'singer',
   'songwriter',
   'record',
   'producer',
   'actress']],
 [['born',
   'raised',
   'houston',
   'texas',
   'performed',
   'various',
   'singing',
   'dancing',
   'competition',
   'child',
   'rose',
   'fame',
   'late',
   '1990s',
   'lead',
   'singer',
   'r',
   'b',
   'girl-group',
   'destiny',
   "'s",
   'child']],
 [['managed',
   'father',
   'mathew',
   'knowles',
   'group',
   'became',
   'one',
   'world',
   "'s",
   'best-selling',
   'girl',
   'group',
   'time']],
 [['hiatus',
   'saw',
   'release',
   'beyonce',
   "'s",
   'debut',
   'album',
   'dangerously',
   'love',
   '2003',
   'established',
   'solo',
   'artist',
   'worldwide',
   'earned',
   'five',
   'grammy',
   'award',
   'featured',
   'billboard',
   'hot',
   '100',
   'number-one',
   'single',
   '``',
   'crazy',
   'love',
   "''",
   '``',
   'baby',
   'boy',
   "''"]]]

##### Questions list #####

In [200]:
question_list = []
for i in range(len(sqd_data.data[1]['paragraphs'][0]['qas'])): 
    l1 = sqd_data.data[1]['paragraphs'][0]['qas'][i]['question'] 
    l1 = unicodedata.normalize('NFKD', l1).encode('ascii','ignore').decode('utf-8')

    question_list.append(l1)

In [201]:
question_list

['When did Beyonce start becoming popular?',
 'What areas did Beyonce compete in when she was growing up?',
 "When did Beyonce leave Destiny's Child and become a solo singer?",
 'In what city and state did Beyonce  grow up? ',
 'In which decade did Beyonce become famous?',
 'In what R&B group was she the lead singer?',
 'What album made her a worldwide known artist?',
 "Who managed the Destiny's Child group?",
 'In what city did Beyonce grow up?',
 "What was the name of Beyonce's first solo album?",
 'On what date was Beyonce born?',
 "What is Beyonce's full name?",
 'When did Beyonce rise to fame?',
 "What role did Beyonce have in Destiny's Child?",
 'What was the first album Beyonce released as a solo artist?',
 'When did Beyonce release Dangerously in Love?',
 'How many Grammy awards did Beyonce win for her first solo album?',
 "What was Beyonce's role in Destiny's Child?",
 "What was the name of Beyonce's first solo album?",
 'When did Beyonce release her first solo album?']

* Keeping question's first word in upper case

In [202]:
import re

def replace_all(repls, str):
    # return re.sub('|'.join(repls.keys()), lambda k: repls[k.group(0)], str)                                     
    return re.sub('|'.join(re.escape(key) for key in repls.keys()),
                  lambda k: repls[k.group(0)], str)

In [203]:
Question_list = []
for i in range(len(question_list)): 
      Question_list.append(replace_all({"how": "How", "when": "When","what": "What","whom": "Whom","which": "Which"}, question_list[i]) 
                          )

In [204]:
Question_list

['When did Beyonce start becoming popular?',
 'What areas did Beyonce compete in When she was growing up?',
 "When did Beyonce leave Destiny's Child and become a solo singer?",
 'In What city and state did Beyonce  grow up? ',
 'In Which decade did Beyonce become famous?',
 'In What R&B group was she the lead singer?',
 'What album made her a worldwide known artist?',
 "Who managed the Destiny's Child group?",
 'In What city did Beyonce grow up?',
 "What was the name of Beyonce's first solo album?",
 'On What date was Beyonce born?',
 "What is Beyonce's full name?",
 'When did Beyonce rise to fame?',
 "What role did Beyonce have in Destiny's Child?",
 'What was the first album Beyonce released as a solo artist?',
 'When did Beyonce release Dangerously in Love?',
 'How many Grammy awards did Beyonce win for her first solo album?',
 "What was Beyonce's role in Destiny's Child?",
 "What was the name of Beyonce's first solo album?",
 'When did Beyonce release her first solo album?']

##### Mapping of questions #####

In [174]:
qtntype_list

['What', 'When', 'Why', 'Which', 'Who', 'Whom', 'How']

In [354]:
w = ['To Whom did the Virgin Mary allegedly appear in 1858 in Lourdes France?',
     'What is in front of the Notre Dame Main Building?',
     'The Basilica of the Sacred heart at Notre Dame is beside to Which structure?',
     'What is the Grotto at Notre Dame?',
     'The sits on top of the Main Building at Notre Dame is Whom?',
     'They said it will be fine but Why',
      'Why is she name d that way',
       'What /dshdgh she does / get from her?',
        'Why is it done??']
w

['To Whom did the Virgin Mary allegedly appear in 1858 in Lourdes France?',
 'What is in front of the Notre Dame Main Building?',
 'The Basilica of the Sacred heart at Notre Dame is beside to Which structure?',
 'What is the Grotto at Notre Dame?',
 'The sits on top of the Main Building at Notre Dame is Whom?',
 'They said it will be fine but Why',
 'Why is she name d that way',
 'What /dshdgh she does / get from her?',
 'Why is it done??']

In [355]:
question_mapping= []
#delquestionpart_list = [] #delete question tag like what, why..
#stopwords_removed_qn = []

for i in range(len(w)):
    l2 = nltk.word_tokenize(w[i])
    print(len(l2))
    #print(l2)
    missed = l2[-1]
    print(missed)
    if missed == '?':
        for j in range(len(l2)):
           
           
            if l2[j] in qtntype_list:
                combine_list = l2[j]+" "+l2[j+1]
                question_mapping.append(combine_list)
                
    else:
        
         for k in range(len(l2)):#8
           
            if k < len(l2)-1:  #7        
                
                if l2[k] in qtntype_list:
                    combine_list = l2[k]+" "+l2[k+1]
                    question_mapping.append(combine_list) 
            else:
                
                    if l2[k] in qtntype_list:
                        combine_list = l2[k]+" "+'abc'
                        question_mapping.append(combine_list) 
                    
                    
print(question_mapping)                    
                    
#             else:
                
#                 if missed in qtntype_list:
#                     b = missed + " " + 'abc' #abc being an extra word
#                     question_mapping.append(b)

#print(question_mapping)                
                    #remove_list = combine_list.split() 
#                 l3 = [x for x in l2 if x not in remove_list]
#                 l4 = [x for x in l2 if x not in stopword]
                
       
            
#question_mapping.append(combine_list) 
#                 delquestionpart_list.append(l3) 
#                 stopwords_removed_qn.append(l4)

14
?
11
?
15
?
8
?
14
?
8
Why
7
way
9
?
6
?
['Whom did', 'What is', 'Which structure', 'What is', 'Whom ?', 'Why abc', 'Why is', 'What /dshdgh', 'Why is']

In [330]:
for i in range(len(w)):
    l2 = nltk.word_tokenize(w[i])
    print(l2)

['To', 'Whom', 'did', 'the', 'Virgin', 'Mary', 'allegedly', 'appear', 'in', '1858', 'in', 'Lourdes', 'France', '?']
['What', 'is', 'in', 'front', 'of', 'the', 'Notre', 'Dame', 'Main', 'Building', '?']
['The', 'Basilica', 'of', 'the', 'Sacred', 'heart', 'at', 'Notre', 'Dame', 'is', 'beside', 'to', 'Which', 'structure', '?']
['What', 'is', 'the', 'Grotto', 'at', 'Notre', 'Dame', '?']
['The', 'sits', 'on', 'top', 'of', 'the', 'Main', 'Building', 'at', 'Notre', 'Dame', 'is', 'Whom', '?']
['They', 'said', 'it', 'will', 'be', 'fine', 'but', 'Why']

In [345]:
qtntype_list

['What', 'When', 'Why', 'Which', 'Who', 'Whom', 'How']

In [322]:
p.append(2)
p

[1, 2]

In [323]:
p.append(3)
p

[1, 2, 3]

In [324]:
p.append(4)
p

[1, 2, 3, 4]

In [ ]:
que_word_token = []
ex = ['abc']
for i in range(len(w)):
    que_word_token.append(nltk.word_tokenize(w[i]))

    
for i in range(len(que_word_token)):
     if que_word_token[i][-2] in qtntype_list:
            a = [que_word_token[i][-2]]
            b = a + ex

In [253]:
question_mapping

['When did',
 'What areas',
 'When she',
 'When did',
 'What city',
 'Which decade',
 'What R',
 'What album',
 'Who managed',
 'What city',
 'What was',
 'What date',
 'What is',
 'When did',
 'What role',
 'What was',
 'When did',
 'How many',
 'What was',
 'What was',
 'When did']

In [251]:
Question_list[8]

'In What city did Beyonce grow up?'

##### Converting question sentence into 'unicode' structure for NER ##### - not needed
- deleted question tags from every question sentence

In [225]:
joined_delquestionpart_list =  []
for i in range(len(delquestionpart_list)):
        joined_question = " ".join(delquestionpart_list[i])
        joined_delquestionpart_list.append(joined_question)

In [226]:
len(joined_delquestionpart_list)

21

In [228]:
qn_ner_mapping = []
for i in range(len(joined_delquestionpart_list)):
    doc = nlp(joined_delquestionpart_list[i])
    for ent in doc.ents:
        qn_ner_mapping.append([i,ent.text,ent.label_])

In [230]:
qn_ner_mapping

[[3, "Destiny 's Child", 'WORK_OF_ART'],
 [9, 'Beyonce', 'PERSON'],
 [10, 'Beyonce', 'PERSON'],
 [10, 'first', 'ORDINAL'],
 [12, 'Beyonce', 'PERSON'],
 [14, "Destiny 's Child", 'WORK_OF_ART'],
 [15, 'first', 'ORDINAL'],
 [15, 'Beyonce', 'GPE'],
 [16, 'Dangerously', 'GPE'],
 [16, 'Love', 'WORK_OF_ART'],
 [17, 'first', 'ORDINAL'],
 [18, "Destiny 's Child", 'WORK_OF_ART'],
 [19, 'Beyonce', 'PERSON'],
 [19, 'first', 'ORDINAL'],
 [20, 'first', 'ORDINAL']]

In [243]:
doc = nlp("In What city did Beyonce grow up?")
for ent in doc.ents:
    print([ent.text,ent.label_])

['Beyonce', 'GPE']

##### Data frame for QUESTION mapping #####
- dissecting the question sentence only

In [414]:
qn_ner_mapping

[[3, "Destiny 's Child", 'WORK_OF_ART'],
 [9, 'Beyonce', 'PERSON'],
 [10, 'Beyonce', 'PERSON'],
 [10, 'first', 'ORDINAL'],
 [12, 'Beyonce', 'PERSON'],
 [14, "Destiny 's Child", 'WORK_OF_ART'],
 [15, 'first', 'ORDINAL'],
 [15, 'Beyonce', 'GPE'],
 [16, 'Dangerously', 'GPE'],
 [16, 'Love', 'WORK_OF_ART'],
 [17, 'first', 'ORDINAL'],
 [18, "Destiny 's Child", 'WORK_OF_ART'],
 [19, 'Beyonce', 'PERSON'],
 [19, 'first', 'ORDINAL'],
 [20, 'first', 'ORDINAL']]

In [254]:
Question_no = []
Qn_word = [] 
Qn_tag = []
for i in range(len(qn_ner_mapping)):
    Question_no.append(qn_ner_mapping[i][0])
    Qn_word.append(qn_ner_mapping[i][1])
    Qn_tag.append(qn_ner_mapping[i][2])

In [255]:
Question_character_df = pd.DataFrame()
qn_mapping = []
for i in range(len(Question_no)):
    for j in range(len(question_mapping)):
        if (Question_no[i]) == j:
            qn_mapping.append(question_mapping[j])


Question_character_df['QuestionNO'] = Question_no
Question_character_df['QuestionMapping'] = qn_mapping 
Question_character_df['Word'] = Qn_word
Question_character_df['WordTag'] = Qn_tag

##### Question - mapping #####

In [256]:
Question_character_df

    QuestionNO QuestionMapping              Word      WordTag
0            3        When did  Destiny 's Child  WORK_OF_ART
1            9       What city           Beyonce       PERSON
2           10        What was           Beyonce       PERSON
3           10        What was             first      ORDINAL
4           12         What is           Beyonce       PERSON
5           14       What role  Destiny 's Child  WORK_OF_ART
6           15        What was             first      ORDINAL
7           15        What was           Beyonce          GPE
8           16        When did       Dangerously          GPE
9           16        When did              Love  WORK_OF_ART
10          17        How many             first      ORDINAL
11          18        What was  Destiny 's Child  WORK_OF_ART
12          19        What was           Beyonce       PERSON
13          19        What was             first      ORDINAL
14          20        When did             first      ORDINAL

################################################################################################################

##### Context preprocessing #####

In [257]:
context = sqd_data.data[1]['paragraphs'][0]['context'] 
context = unicodedata.normalize('NFKD', context).encode('ascii','ignore').decode('utf-8')
context

'Beyonce Giselle Knowles-Carter (/bijnse/ bee-YON-say) (born September 4, 1981) is an American singer, songwriter, record producer and actress. Born and raised in Houston, Texas, she performed in various singing and dancing competitions as a child, and rose to fame in the late 1990s as lead singer of R&B girl-group Destiny\'s Child. Managed by her father, Mathew Knowles, the group became one of the world\'s best-selling girl groups of all time. Their hiatus saw the release of Beyonce\'s debut album, Dangerously in Love (2003), which established her as a solo artist worldwide, earned five Grammy Awards and featured the Billboard Hot 100 number-one singles "Crazy in Love" and "Baby Boy".'

##### Sentence tokenization #####

In [258]:
senttokenized_context = sent_tokenize(context)
sentencelist = []
for i in senttokenized_context:
      sentencelist.append(i)

In [259]:
senttokenized_context

['Beyonce Giselle Knowles-Carter (/bijnse/ bee-YON-say) (born September 4, 1981) is an American singer, songwriter, record producer and actress.',
 "Born and raised in Houston, Texas, she performed in various singing and dancing competitions as a child, and rose to fame in the late 1990s as lead singer of R&B girl-group Destiny's Child.",
 "Managed by her father, Mathew Knowles, the group became one of the world's best-selling girl groups of all time.",
 'Their hiatus saw the release of Beyonce\'s debut album, Dangerously in Love (2003), which established her as a solo artist worldwide, earned five Grammy Awards and featured the Billboard Hot 100 number-one singles "Crazy in Love" and "Baby Boy".']

###### PART -II #####

##### Word move Distance for extracting Answer sentence from the text #####

##### Construction of word move distance matrix #####

In [260]:

len(senttokenized_context)

4

In [262]:

question_list

['When did Beyonce start becoming popular?',
 'What areas did Beyonce compete in when she was growing up?',
 "When did Beyonce leave Destiny's Child and become a solo singer?",
 'In what city and state did Beyonce  grow up? ',
 'In which decade did Beyonce become famous?',
 'In what R&B group was she the lead singer?',
 'What album made her a worldwide known artist?',
 "Who managed the Destiny's Child group?",
 'In what city did Beyonce grow up?',
 "What was the name of Beyonce's first solo album?",
 'On what date was Beyonce born?',
 "What is Beyonce's full name?",
 'When did Beyonce rise to fame?',
 "What role did Beyonce have in Destiny's Child?",
 'What was the first album Beyonce released as a solo artist?',
 'When did Beyonce release Dangerously in Love?',
 'How many Grammy awards did Beyonce win for her first solo album?',
 "What was Beyonce's role in Destiny's Child?",
 "What was the name of Beyonce's first solo album?",
 'When did Beyonce release her first solo album?']

In [432]:
wmd_matrix = np.zeros([len(question_list),len(sentence_list)]) 
for i in range(len(question_list)):
    for j in range(len(senttokenized_context)):
        wmd_matrix[i,j] =  word2vec_model.wmdistance(question_list[i],senttokenized_context[j])

##### Word mover  distance for each question across all sentences #####

* Rows indicates question number and column represents sentence number

In [264]:
wmd_df = pd.DataFrame(wmd_matrix)

In [265]:
wmd_df

           0         1         2         3
0   0.895393  0.744064  0.826137  0.746238
1   0.786358  0.798702  0.680607  0.759209
2   0.861740  0.823296  1.004824  0.727420
3   1.222830  0.961409  1.118539  1.045657
4   1.207344  1.321630  1.114671  1.022527
5   1.104582  0.923385  0.789637  0.934271
6   1.269877  1.080827  0.944633  0.918117
7   1.160023  0.753293  0.854667  0.834716
8   1.356013  1.030364  1.188003  1.154958
9   1.114610  1.015443  0.752341  0.802786
10  1.087052  1.239606  1.028516  0.992850
11  1.037493  1.036144  0.951540  0.904643
12  1.022871  1.002918  1.062769  0.923441
13  1.135689  0.897641  1.117032  0.781556
14  0.929172  0.948160  0.631395  0.672414
15  1.062567  1.001483  1.111769  0.862605
16  1.099120  0.950991  1.034299  0.821721
17  1.013698  0.877720  1.015172  0.808329
18  1.114610  1.015443  0.752341  0.802786
19  0.772261  0.869398  0.651128  0.600179

##### Add a new column 'sentence' indicating the answer sentence #####

In [266]:
wmd_df['sentence'] = wmd_df.T.idxmin()

In [267]:
wmd_df

           0         1         2         3  sentence
0   0.895393  0.744064  0.826137  0.746238         1
1   0.786358  0.798702  0.680607  0.759209         2
2   0.861740  0.823296  1.004824  0.727420         3
3   1.222830  0.961409  1.118539  1.045657         1
4   1.207344  1.321630  1.114671  1.022527         3
5   1.104582  0.923385  0.789637  0.934271         2
6   1.269877  1.080827  0.944633  0.918117         3
7   1.160023  0.753293  0.854667  0.834716         1
8   1.356013  1.030364  1.188003  1.154958         1
9   1.114610  1.015443  0.752341  0.802786         2
10  1.087052  1.239606  1.028516  0.992850         3
11  1.037493  1.036144  0.951540  0.904643         3
12  1.022871  1.002918  1.062769  0.923441         3
13  1.135689  0.897641  1.117032  0.781556         3
14  0.929172  0.948160  0.631395  0.672414         2
15  1.062567  1.001483  1.111769  0.862605         3
16  1.099120  0.950991  1.034299  0.821721         3
17  1.013698  0.877720  1.015172  0.808329         3
18  1.114610  1.015443  0.752341  0.802786         2
19  0.772261  0.869398  0.651128  0.600179         3

In [268]:
wmd_df['qnno'] = wmd_df.index
qn_ans = []

for i in range(len(wmd_df)):
    qn_ans.append([wmd_df['qnno'][i], wmd_df['sentence'][i]])

In [269]:
qn_ans

[[0, 1],
 [1, 2],
 [2, 3],
 [3, 1],
 [4, 3],
 [5, 2],
 [6, 3],
 [7, 1],
 [8, 1],
 [9, 2],
 [10, 3],
 [11, 3],
 [12, 3],
 [13, 3],
 [14, 2],
 [15, 3],
 [16, 3],
 [17, 3],
 [18, 2],
 [19, 3]]

##### Mapping "Question and Answers"  #####

In [270]:
qn_sentence = []
for i in range(len(qn_ans)):
    if qn_ans[i][0] == question_list.index(question_list[i]):
        qn_sentence.append(question_list[i])
an_sentence = []
for i in range(len(qn_ans)):
    for j in range(len(senttokenized_context)):
        if qn_ans[i][1] == senttokenized_context.index(senttokenized_context[j]):
            an_sentence.append(senttokenized_context[j])

In [271]:
qn_sentence

['When did Beyonce start becoming popular?',
 'What areas did Beyonce compete in when she was growing up?',
 "When did Beyonce leave Destiny's Child and become a solo singer?",
 'In what city and state did Beyonce  grow up? ',
 'In which decade did Beyonce become famous?',
 'In what R&B group was she the lead singer?',
 'What album made her a worldwide known artist?',
 "Who managed the Destiny's Child group?",
 'In what city did Beyonce grow up?',
 "What was the name of Beyonce's first solo album?",
 'On what date was Beyonce born?',
 "What is Beyonce's full name?",
 'When did Beyonce rise to fame?',
 "What role did Beyonce have in Destiny's Child?",
 'What was the first album Beyonce released as a solo artist?',
 'When did Beyonce release Dangerously in Love?',
 'How many Grammy awards did Beyonce win for her first solo album?',
 "What was Beyonce's role in Destiny's Child?",
 'When did Beyonce release her first solo album?']

##### NER for "Question sentence"  and "Answer sentence" #####

In [272]:
an_sentence_mapping = []
for i in range(len(an_sentence)):
    doc = nlp(an_sentence[i])
    for ent in doc.ents:
        an_sentence_mapping.append([i,ent.label_])

In [273]:
qn_sentence_mapping = []
for i in range(len(qn_sentence)):
    doc = nlp(qn_sentence[i])
    for ent in doc.ents:
        qn_sentence_mapping.append([i,ent.label_])

##### Editing  Question words #####

- Remove stopwords like "did" ,"is", "was" from "question words".

In [322]:
#sample done on 0th context under the title notre dame
Question_mapping = []
for i in range(len(question_mapping)):
    if question_mapping[i] != 'How many' and question_mapping[i] != 'How much':
        Question_mapping.append(question_mapping[i].split()[0])
    else:
         Question_mapping.append(question_mapping[i])

In [323]:
Question_mapping

['When',
 'What',
 'When',
 'When',
 'What',
 'Which',
 'What',
 'What',
 'Who',
 'What',
 'What',
 'What',
 'What',
 'When',
 'What',
 'What',
 'When',
 'How many',
 'What',
 'What',
 'When']

In [324]:
Question_character_df = pd.DataFrame()
qn_mapping = []
for i in range(len(Question_no)):
    for j in range(len(Question_mapping)):
        if (Question_no[i]) == j:
            qn_mapping.append(Question_mapping[j])


Question_character_df['QuestionNo'] = Question_no
Question_character_df['QuestionMapping'] = qn_mapping
Question_character_df['Word'] = Qn_word
Question_character_df['WordTag'] = Qn_tag

#####  Create a co occurrence matrix #####

In [339]:
row_list = ['How many','How much','What','When','Where','Who', 'Which','Whom','PERSON',
           'NORP', 'FAC','LOC','PRODUCT', 'EVENT','WORK_OF_ART','LANGUAGE' ,'DATE' ,
           'TIME' ,'PERCENT' ,'MONEY' ,'ORDINAL','CARDINAL','GPE','ORG']

column_list = ['PERSON',
           'NORP', 'FAC','LOC','PRODUCT', 'EVENT','WORK_OF_ART','LANGUAGE' ,'DATE' ,
           'TIME' ,'PERCENT' ,'MONEY' ,'ORDINAL','CARDINAL','GPE', 'ORG']

In [340]:
co_occ_matrix = np.zeros((len(row_list), len(column_list)), dtype = int)
co_occ_matrix

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

##### Creating a list of lists with question-answer NER tag #####

In [341]:
def que_ans_combo_(question_words, ans_words):
    ques_ans_combo = []
    for i in range(len(question_words)):
        for j in range(len(ans_words)):
            ques_ans_combo.append([question_words[i],ans_words[j]])
    return(ques_ans_combo)

##### Filling in the co occurrence matrix with corresponding count #####

In [342]:
Answer_character_df = pd.DataFrame(an_sentence_mapping,columns = ['QuestionNo','Answer_WordTag'])
Answer_character_df

     QuestionNo Answer_WordTag
0             0            GPE
1             0            GPE
2             0           DATE
3             0            ORG
4             1         PERSON
5             1       CARDINAL
6             2         PERSON
7             2            GPE
8             2           DATE
9             2       CARDINAL
10            2            ORG
11            2       CARDINAL
12            2       CARDINAL
13            2    WORK_OF_ART
14            2    WORK_OF_ART
15            3            GPE
16            3            GPE
17            3           DATE
18            3            ORG
19            4         PERSON
20            4            GPE
21            4           DATE
22            4       CARDINAL
23            4            ORG
24            4       CARDINAL
25            4       CARDINAL
26            4    WORK_OF_ART
27            4    WORK_OF_ART
28            5         PERSON
29            5       CARDINAL
..          ...            ...
95           15    WORK_OF_ART
96           16         PERSON
97           16            GPE
98           16           DATE
99           16       CARDINAL
100          16            ORG
101          16       CARDINAL
102          16       CARDINAL
103          16    WORK_OF_ART
104          16    WORK_OF_ART
105          17         PERSON
106          17            GPE
107          17           DATE
108          17       CARDINAL
109          17            ORG
110          17       CARDINAL
111          17       CARDINAL
112          17    WORK_OF_ART
113          17    WORK_OF_ART
114          18         PERSON
115          18       CARDINAL
116          19         PERSON
117          19            GPE
118          19           DATE
119          19       CARDINAL
120          19            ORG
121          19       CARDINAL
122          19       CARDINAL
123          19    WORK_OF_ART
124          19    WORK_OF_ART

[125 rows x 2 columns]

In [343]:

for i in range(len(Question_mapping)):

    question_words = Question_character_df[Question_character_df['QuestionNo']== i]['WordTag'].tolist() + [Question_mapping[i]] 
    ans_words = Answer_character_df[Answer_character_df['QuestionNo']==i]['Answer_WordTag'].tolist()
    combo = que_ans_combo_(question_words, ans_words)
    for i, v1 in enumerate(row_list):
        for j, v2 in enumerate(column_list):
            for k in combo:
                if [v1, v2] == k:
                    co_occ_matrix[i, j]+=1
    #                     co_occ_matrix_df = pd.DataFrame(co_occ_matrix, index = row_list, columns= column_list)

In [344]:
big_df = Question_character_df.merge(Answer_character_df, left_on = "QuestionNo", right_on= "QuestionNo")

In [345]:
big_df

    QuestionNo QuestionMapping              Word      WordTag Answer_WordTag
0            3            When  Destiny 's Child  WORK_OF_ART            GPE
1            3            When  Destiny 's Child  WORK_OF_ART            GPE
2            3            When  Destiny 's Child  WORK_OF_ART           DATE
3            3            When  Destiny 's Child  WORK_OF_ART            ORG
4            9            What           Beyonce       PERSON         PERSON
5            9            What           Beyonce       PERSON       CARDINAL
6           10            What           Beyonce       PERSON         PERSON
7           10            What           Beyonce       PERSON            GPE
8           10            What           Beyonce       PERSON           DATE
9           10            What           Beyonce       PERSON       CARDINAL
10          10            What           Beyonce       PERSON            ORG
11          10            What           Beyonce       PERSON       CARDINAL
12          10            What           Beyonce       PERSON       CARDINAL
13          10            What           Beyonce       PERSON    WORK_OF_ART
14          10            What           Beyonce       PERSON    WORK_OF_ART
15          10            What             first      ORDINAL         PERSON
16          10            What             first      ORDINAL            GPE
17          10            What             first      ORDINAL           DATE
18          10            What             first      ORDINAL       CARDINAL
19          10            What             first      ORDINAL            ORG
20          10            What             first      ORDINAL       CARDINAL
21          10            What             first      ORDINAL       CARDINAL
22          10            What             first      ORDINAL    WORK_OF_ART
23          10            What             first      ORDINAL    WORK_OF_ART
24          12            What           Beyonce       PERSON         PERSON
25          12            What           Beyonce       PERSON            GPE
26          12            What           Beyonce       PERSON           DATE
27          12            What           Beyonce       PERSON       CARDINAL
28          12            What           Beyonce       PERSON            ORG
29          12            What           Beyonce       PERSON       CARDINAL
..         ...             ...               ...          ...            ...
70          16            When              Love  WORK_OF_ART    WORK_OF_ART
71          17        How many             first      ORDINAL         PERSON
72          17        How many             first      ORDINAL            GPE
73          17        How many             first      ORDINAL           DATE
74          17        How many             first      ORDINAL       CARDINAL
75          17        How many             first      ORDINAL            ORG
76          17        How many             first      ORDINAL       CARDINAL
77          17        How many             first      ORDINAL       CARDINAL
78          17        How many             first      ORDINAL    WORK_OF_ART
79          17        How many             first      ORDINAL    WORK_OF_ART
80          18            What  Destiny 's Child  WORK_OF_ART         PERSON
81          18            What  Destiny 's Child  WORK_OF_ART       CARDINAL
82          19            What           Beyonce       PERSON         PERSON
83          19            What           Beyonce       PERSON            GPE
84          19            What           Beyonce       PERSON           DATE
85          19            What           Beyonce       PERSON       CARDINAL
86          19            What           Beyonce       PERSON            ORG
87          19            What           Beyonce       PERSON       CARDINAL
88          19            What           Beyonce       PERSON       CARDINAL
89          19            What           Beyonce       PERSON    WORK_OF_ART
90          19            What           Beyonce       PERSON    WORK_OF_ART
91          19            What             first      ORDINAL         PERSON
92          19            What             first      ORDINAL            GPE
93          19            What             first      ORDINAL           DATE
94          19            What             first      ORDINAL       CARDINAL
95          19            What             first      ORDINAL            ORG
96          19            What             first      ORDINAL       CARDINAL
97          19            What             first      ORDINAL       CARDINAL
98          19            What             first      ORDINAL    WORK_OF_ART
99          19            What             first      ORDINAL    WORK_OF_ART

[100 rows x 5 columns]

In [346]:
Question_character_df

    QuestionNo QuestionMapping              Word      WordTag
0            3            When  Destiny 's Child  WORK_OF_ART
1            9            What           Beyonce       PERSON
2           10            What           Beyonce       PERSON
3           10            What             first      ORDINAL
4           12            What           Beyonce       PERSON
5           14            What  Destiny 's Child  WORK_OF_ART
6           15            What             first      ORDINAL
7           15            What           Beyonce          GPE
8           16            When       Dangerously          GPE
9           16            When              Love  WORK_OF_ART
10          17        How many             first      ORDINAL
11          18            What  Destiny 's Child  WORK_OF_ART
12          19            What           Beyonce       PERSON
13          19            What             first      ORDINAL
14          20            When             first      ORDINAL

In [347]:
Answer_character_df

     QuestionNo Answer_WordTag
0             0            GPE
1             0            GPE
2             0           DATE
3             0            ORG
4             1         PERSON
5             1       CARDINAL
6             2         PERSON
7             2            GPE
8             2           DATE
9             2       CARDINAL
10            2            ORG
11            2       CARDINAL
12            2       CARDINAL
13            2    WORK_OF_ART
14            2    WORK_OF_ART
15            3            GPE
16            3            GPE
17            3           DATE
18            3            ORG
19            4         PERSON
20            4            GPE
21            4           DATE
22            4       CARDINAL
23            4            ORG
24            4       CARDINAL
25            4       CARDINAL
26            4    WORK_OF_ART
27            4    WORK_OF_ART
28            5         PERSON
29            5       CARDINAL
..          ...            ...
95           15    WORK_OF_ART
96           16         PERSON
97           16            GPE
98           16           DATE
99           16       CARDINAL
100          16            ORG
101          16       CARDINAL
102          16       CARDINAL
103          16    WORK_OF_ART
104          16    WORK_OF_ART
105          17         PERSON
106          17            GPE
107          17           DATE
108          17       CARDINAL
109          17            ORG
110          17       CARDINAL
111          17       CARDINAL
112          17    WORK_OF_ART
113          17    WORK_OF_ART
114          18         PERSON
115          18       CARDINAL
116          19         PERSON
117          19            GPE
118          19           DATE
119          19       CARDINAL
120          19            ORG
121          19       CARDINAL
122          19       CARDINAL
123          19    WORK_OF_ART
124          19    WORK_OF_ART

[125 rows x 2 columns]

In [348]:
print((an_sentence_mapping))

[[0, 'GPE'], [0, 'GPE'], [0, 'DATE'], [0, 'ORG'], [1, 'PERSON'], [1, 'CARDINAL'], [2, 'PERSON'], [2, 'GPE'], [2, 'DATE'], [2, 'CARDINAL'], [2, 'ORG'], [2, 'CARDINAL'], [2, 'CARDINAL'], [2, 'WORK_OF_ART'], [2, 'WORK_OF_ART'], [3, 'GPE'], [3, 'GPE'], [3, 'DATE'], [3, 'ORG'], [4, 'PERSON'], [4, 'GPE'], [4, 'DATE'], [4, 'CARDINAL'], [4, 'ORG'], [4, 'CARDINAL'], [4, 'CARDINAL'], [4, 'WORK_OF_ART'], [4, 'WORK_OF_ART'], [5, 'PERSON'], [5, 'CARDINAL'], [6, 'PERSON'], [6, 'GPE'], [6, 'DATE'], [6, 'CARDINAL'], [6, 'ORG'], [6, 'CARDINAL'], [6, 'CARDINAL'], [6, 'WORK_OF_ART'], [6, 'WORK_OF_ART'], [7, 'GPE'], [7, 'GPE'], [7, 'DATE'], [7, 'ORG'], [8, 'GPE'], [8, 'GPE'], [8, 'DATE'], [8, 'ORG'], [9, 'PERSON'], [9, 'CARDINAL'], [10, 'PERSON'], [10, 'GPE'], [10, 'DATE'], [10, 'CARDINAL'], [10, 'ORG'], [10, 'CARDINAL'], [10, 'CARDINAL'], [10, 'WORK_OF_ART'], [10, 'WORK_OF_ART'], [11, 'PERSON'], [11, 'GPE'], [11, 'DATE'], [11, 'CARDINAL'], [11, 'ORG'], [11, 'CARDINAL'], [11, 'CARDINAL'], [11, 'WORK_OF_ART'], [11, 'WORK_OF_ART'], [12, 'PERSON'], [12, 'GPE'], [12, 'DATE'], [12, 'CARDINAL'], [12, 'ORG'], [12, 'CARDINAL'], [12, 'CARDINAL'], [12, 'WORK_OF_ART'], [12, 'WORK_OF_ART'], [13, 'PERSON'], [13, 'GPE'], [13, 'DATE'], [13, 'CARDINAL'], [13, 'ORG'], [13, 'CARDINAL'], [13, 'CARDINAL'], [13, 'WORK_OF_ART'], [13, 'WORK_OF_ART'], [14, 'PERSON'], [14, 'CARDINAL'], [15, 'PERSON'], [15, 'GPE'], [15, 'DATE'], [15, 'CARDINAL'], [15, 'ORG'], [15, 'CARDINAL'], [15, 'CARDINAL'], [15, 'WORK_OF_ART'], [15, 'WORK_OF_ART'], [16, 'PERSON'], [16, 'GPE'], [16, 'DATE'], [16, 'CARDINAL'], [16, 'ORG'], [16, 'CARDINAL'], [16, 'CARDINAL'], [16, 'WORK_OF_ART'], [16, 'WORK_OF_ART'], [17, 'PERSON'], [17, 'GPE'], [17, 'DATE'], [17, 'CARDINAL'], [17, 'ORG'], [17, 'CARDINAL'], [17, 'CARDINAL'], [17, 'WORK_OF_ART'], [17, 'WORK_OF_ART'], [18, 'PERSON'], [18, 'CARDINAL'], [19, 'PERSON'], [19, 'GPE'], [19, 'DATE'], [19, 'CARDINAL'], [19, 'ORG'], [19, 'CARDINAL'], [19, 'CARDINAL'], [19, 'WORK_OF_ART'], [19, 'WORK_OF_ART']]

In [349]:
print(Question_mapping)

['When', 'What', 'When', 'When', 'What', 'Which', 'What', 'What', 'Who', 'What', 'What', 'What', 'What', 'When', 'What', 'What', 'When', 'How many', 'What', 'What', 'When']


##### Co occurrence matrix for the   Zeroth  context under the title Notre dame  #####
##### Row corresponds to "Question" type and NER tags #####
##### Column corresponds to "Answer" NER #####

In [350]:
co_occ_matrix_df = pd.DataFrame(co_occ_matrix, index = row_list, columns= column_list)
co_occ_matrix_df

,PERSON,NORP,FAC,LOC,PRODUCT,EVENT,WORK_OF_ART,LANGUAGE,DATE,TIME,PERCENT,MONEY,ORDINAL,CARDINAL,GPE,ORG
How many,1,0,0,0,0,0,2,0,1,0,0,0,0,3,1,1
How much,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
What,11,0,0,0,0,0,14,0,8,0,0,0,0,25,9,8
When,3,0,0,0,0,0,6,0,5,0,0,0,0,9,7,5
Where,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Who,0,0,0,0,0,0,0,0,1,0,0,0,0,0,2,1
Which,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
Whom,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PERSON,4,0,0,0,0,0,6,0,3,0,0,0,0,10,3,3
NORP,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
FAC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
LOC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PRODUCT,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
EVENT,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
WORK_OF_ART,3,0,0,0,0,0,2,0,2,0,0,0,0,5,3,2
LANGUAGE,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
DATE,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
TIME,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PERCENT,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
MONEY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ORDINAL,4,0,0,0,0,0,8,0,4,0,0,0,0,12,4,4
CARDINAL,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
GPE,2,0,0,0,0,0,4,0,2,0,0,0,0,6,2,2
ORG,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

##### Graphical representation of co occurrence matrix #####

In [40]:
co_occ_matrix_df['Tags'] = co_occ_matrix_df.index

In [41]:
melt_co_occ_matrix_df = pd.melt(co_occ_matrix_df,id_vars = ['Tags']) 
melt_co_occ_matrix_df.head()

       Tags variable  value
0  How many   PERSON    786
1  How much   PERSON    126
2      What   PERSON   9494
3      When   PERSON   1495
4     Where   PERSON      0

In [42]:
import plotly.plotly as py
import plotly.graph_objs as go

trace = go.Heatmap(z=melt_co_occ_matrix_df['value'],
                   x=melt_co_occ_matrix_df['Tags'] ,
                   y=melt_co_occ_matrix_df['variable'])
data=[trace]
py.iplot(data)